<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在建工地</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <section class="page_nav_box tab_box">
        <div class="mask_box"></div>
        <nav class="nav_container">
            <div class="nav_box tab_btn">
                阶段<i class="down_bg"></i>
            </div>
            <div class="nav_box tab_btn">
                区域<i class="down_bg"></i>
            </div>
            <div class="clean"></div>
        </nav>
        <div class="nav_popup_box">
            <div class="tab_content">
                <a class="active" href="javascript:">不限1</a>
                <a href="javascript:">开工大吉</a>
                <a href="javascript:">水电阶段</a>
                <a href="javascript:">泥水阶段</a>
                <a href="javascript:">木工阶段</a>
                <a href="javascript:">油漆阶段</a>
                <a href="javascript:">完工验收</a>
            </div>
            <div class="tab_content">
                <a class="active" href="javascript:">不限2</a>
                <a href="javascript:">普通住宅</a>
                <a href="javascript:">三室</a>
                <a href="javascript:">四室</a>
                <a href="javascript:">别墅</a>
                <a href="javascript:">自建房</a>
                <a href="javascript:">旧房</a>
                <a href="javascript:">商业装修</a>
            </div>
        </div>
        <!--筛选内容显示-->
        <section class="page_content_box">
            <div class="content_header_title"><i></i>开工大吉</div>
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <h2 class="tit">雍景湾新房装修现场</h2>
                <p class="note_infor">三居室丨其他丨160平</p>
            </div>
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <h2 class="tit">雍景湾新房装修现场</h2>
                <p class="note_infor">三居室丨其他丨160平</p>
            </div>
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <h2 class="tit">雍景湾新房装修现场</h2>
                <p class="note_infor">三居室丨其他丨160平</p>
            </div>
        </section>
    </section>
</section>
@@include('../common/page_footer.html')
</body>
</html>