<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修工地</title>
</head>
<body>
@@include('../common/page_nav.html',{"site":"active"})
<div class="page_banner_box">
	<div class="content_box">
		<div class="banner"><img class="lazy" data-src="../../img/site_bannner.jpg" width="100%" height="100%"></div>
	</div>
</div>
 
<!-- 选择栏 -->
  <div class="page_list_nav_box">
     <div class="page_address_box">
         当前位置：<a>首页</a>>在建工地
     </div>
     <div class="nav_list_box">
         <div class="nav_list js_nav_list">
             <div class="label">装修风格</div>
             <div class="ul_box">
                 <ul class="ul">
                     <li class="active">全部</li>
                     <li>开工</li>
                     <li>水电</li>
                     <li>泥工</li>
                     <li>木工</li>
                     <li>油工</li>
                     <li>完工</li>
                 </ul>
             </div>
             <button class="show_btn"><span class="text">展开</span><span class="open_arrow"></span></button>
         </div>
     </div>
 </div>

<div class="page_visit_box">
	<div class="content_box">
		<div class="visit_box clearfix">
			<div class="visit_line"></div>
			<p class="visit_text">获取免费参观</p>
			<div class="visit_input"><input type="text" name="" placeholder="您的称呼"></div>
			<div class="visit_input"><input type="text" name="" placeholder="联系电话"></div>
			<div class="visit_input"><input type="text" name="" placeholder="楼盘名称"></div>
			<div class="visit_input visit_area"><input type="text" name="" placeholder="装修面积"><span class="unit">m²</span></div>
			<button class="visit_btn">预约参观工地样板</button>
		</div>
	</div>
</div>

<!-- 正文 -->
<div class="page_site_content">
	<div class="content_box clearfix">
		<div class="site_main">
			<ul class="site_ul">
				<li class="site_list clearfix">
					<div class="site_img"><img class="lazy" data-src="../../img/site_list_img.jpg" width="100%" height="100%"></div>
					<div class="site_text">
						<h4 class="site_title">佛山-南海区保利紫山</h4>
						<ul class="info_ul clearfix">
							<li class="info_list">
								户型：三室两厅
							</li>
							<li class="info_list">
								面积：90方
							</li>
							<li class="info_list">
								风格：现代简约
							</li>
							<li class="info_list">
								工期：90天 
							</li>
							<li class="info_list">
								业主：陈生
							</li>
							<li class="info_list">
								预算：<button class="money_btn">立即咨询</button>
							</li>
						</ul>
						<ul class="speed_ul clearfix">
							<li class="speed_list active"> <!-- 加active变黑 -->
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">开工大吉</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">水电改造</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">泥瓦工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">木工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">油漆阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">验收完成</p>
							</li>
						</ul>
						<div class="btn_box">
							<button class="site_btn">预约参观</button>
							<a href="" class="site_btn">工地欣赏</a>
						</div>
					</div>
				</li>


				<li class="site_list clearfix">
					<div class="site_img"><img class="lazy" data-src="../../img/site_list_img.jpg" width="100%" height="100%"></div>
					<div class="site_text">
						<h4 class="site_title">佛山-南海区保利紫山</h4>
						<ul class="info_ul clearfix">
							<li class="info_list">
								户型：三室两厅
							</li>
							<li class="info_list">
								面积：90方
							</li>
							<li class="info_list">
								风格：现代简约
							</li>
							<li class="info_list">
								工期：90天 
							</li>
							<li class="info_list">
								业主：陈生
							</li>
							<li class="info_list">
								预算：<button class="money_btn">立即咨询</button>
							</li>
						</ul>
						<ul class="speed_ul clearfix">
							<li class="speed_list active"> <!-- 加active变黑 -->
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">开工大吉</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">水电改造</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">泥瓦工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">木工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">油漆阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">验收完成</p>
							</li>
						</ul>
						<div class="btn_box">
							<button class="site_btn">预约参观</button>
							<a href="" class="site_btn">工地欣赏</a>
						</div>
					</div>
				</li>
				<li class="site_list clearfix">
					<div class="site_img"><img class="lazy" data-src="../../img/site_list_img.jpg" width="100%" height="100%"></div>
					<div class="site_text">
						<h4 class="site_title">佛山-南海区保利紫山</h4>
						<ul class="info_ul clearfix">
							<li class="info_list">
								户型：三室两厅
							</li>
							<li class="info_list">
								面积：90方
							</li>
							<li class="info_list">
								风格：现代简约
							</li>
							<li class="info_list">
								工期：90天 
							</li>
							<li class="info_list">
								业主：陈生
							</li>
							<li class="info_list">
								预算：<button class="money_btn">立即咨询</button>
							</li>
						</ul>
						<ul class="speed_ul clearfix">
							<li class="speed_list active"> <!-- 加active变黑 -->
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">开工大吉</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">水电改造</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">泥瓦工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">木工阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">油漆阶段</p>
							</li>
							<li class="speed_list">
								<div class="speed_bg">
									<div class="speed_point"><div class="speed_in"></div></div>
								</div>
								<p class="speed_text">验收完成</p>
							</li>
						</ul>
						<div class="btn_box">
							<button class="site_btn">预约参观</button>
							<a href="" class="site_btn">工地欣赏</a>
						</div>
					</div>
				</li>
			</ul>
			@@include('../common/paging.html')
		</div>
		<div class="site_side">
			<!-- 参观我家楼盘工地 -->
			<div class="design_offer">
				<div class="do_title">参观我家楼盘工地</div>
				<div class="do_note">免费参观工地，了解家装全过程！</div>
				<input class="do_input" type="text" name="" placeholder="您的姓名">
				<input class="do_input" type="text" name="" placeholder="您的电话">
				<input class="do_input" type="text" name="" placeholder="你家楼盘名称">
				<button class="do_btn">预约参观</button>
				<div class="scroll_box">
					<div class="scroll_text_box scroll_text">
						<ul class="scroll_ul">
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
							<li><span>42分钟前</span>刘女士 139****免费预约</li>
						</ul>
					</div>
				</div>
				<div class="do_tel">
					<div class="tel">电话预约：<span class="tel_num"><img src="../../img/side_tel.png"></span></div>
				</div>
			</div>
			<!-- 点击获取精准报价 -->
			<div class="about_offer">
				<img src="../../img/about_offer_bg.jpg" width="100%" height="100%">
				<a class="offer" href="">点击获取精准报价</a>
			</div>
			<!-- 热门在建楼盘 -->
			<div class="hot_recommend">
				<h3 class="hr_title">热门在建楼盘<a class="hr_more" href="">更多&gt;&gt;</a></h3>
				<ul class="do_ul js_tabimg">
					<li class="list">
						1.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						2.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						3.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						4.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						5.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						6.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						7.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						8.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						9.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						10.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
@@include('../common/page_btm_fixed.html')
</body>
</html>