<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>工地详情</title>
</head>
<body>
@@include('../common/page_nav.html',{"site":"active"})
<div class="page_list_nav_box">
    <div class="page_address_box">
        当前位置：<a>首页</a>&gt;<a>在建工地</a>&gt;佛山-南海区保利紫山施工现场
    </div>
</div>


<div class="page_site_content">
	<div class="content_box clearfix">
		<div class="details_main">
			<h4 class="detais_title">南海区保利紫山施工现场</h4>
			<div class="details_info">
				<span>来源：翰图装饰 </span>
				<span>浏览：79次 </span>
				<span>更新时间：2018-01-07  15:31</span>
			</div>
			<ul class="speed_ul clearfix">
				<li class="speed_list active"> <!-- 加active变黑 -->
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">开工大吉</p>
				</li>
				<li class="speed_list active">
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">水电改造</p>
				</li>
				<li class="speed_list">
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">泥瓦工阶段</p>
				</li>
				<li class="speed_list">
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">木工阶段</p>
				</li>
				<li class="speed_list">
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">油漆阶段</p>
				</li>
				<li class="speed_list">
					<div class="speed_bg">
						<div class="speed_point"><div class="speed_in"></div></div>
					</div>
					<p class="speed_text">验收完成</p>
				</li>
			</ul>
			<ul class="process_ul">
				<li class="process_list">
					<div class="process_title">[开工大吉]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
				<li class="process_list">
					<div class="process_title">[水电改造]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
				<li class="process_list">
					<div class="process_title">[泥工阶段]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
				<li class="process_list">
					<div class="process_title">[木工阶段]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
				<li class="process_list">
					<div class="process_title">[油漆阶段]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
				<li class="process_list">
					<div class="process_title">[验收完成]</div>
					<div class="process_img_box clearfix">
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
						<div class="process_img"><img class="lazy" data-src="../../img/site_process_img1.jpg" width="100%" height="100%"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="site_side">
			<!-- 参观我家楼盘工地 -->
			<div class="design_offer">
				<div class="do_title">参观我家楼盘工地</div>
				<div class="do_note">免费参观工地，了解家装全过程！</div>
				<input class="do_input" type="text" name="" placeholder="您的姓名">
				<input class="do_input" type="text" name="" placeholder="您的电话">
				<input class="do_input" type="text" name="" placeholder="你家楼盘名称">
				<button class="do_btn">预约参观</button>
				<ul class="do_ul">
					<li class="list"><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
					<li class="list"><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
					<li class="list"><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
				</ul>
				<div class="do_tel">
					<div class="tel">电话预约：<span class="tel_num"><img src="../../img/side_tel.png"></span></div>
				</div>
			</div>
			<!-- 点击获取精准报价 -->
			<div class="about_offer">
				<img src="../../img/about_offer_bg.jpg" width="100%" height="100%">
				<a class="offer" href="">点击获取精准报价</a>
			</div>
			<!-- 热门在建楼盘 -->
			<div class="hot_recommend">
				<h3 class="hr_title">热门在建楼盘<a class="hr_more" href="">更多&gt;&gt;</a></h3>
				<ul class="do_ul">
					<li class="list">
						1.<a href="">
							保利400m2新中式别墅装修实景图
							<div class="do_img"><img class="lazy" data-src="../../img/site_hot_house_img.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						2.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						3.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						4.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						5.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						6.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						7.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						8.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						9.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
					<li class="list">
						10.<a href="">
							保利400m2新中式别墅装修实景图
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	@@include('../common/page_btm_fixed.html')
	
</div>
</body>
</html>