<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修工地</title>
</head>
<body>
@@include('../common/page_nav.html',{"site":"active"})
<div class="page_banner_box">
	<div class="content_box">
		<div class="banner"><img class="lazy" data-src="../../img/site_bannner.jpg" width="100%" height="100%"></div>
	</div>
</div>
 
<!-- 选择栏 -->
 <div class="page_list_nav_box">
     <div class="page_address_box">
         当前位置：<a>首页</a>>VR展示
     </div>
     <div class="nav_list_box">
         <div class="nav_list js_nav_list">
             <div class="label">装修风格</div>
             <div class="ul_box">
                 <ul class="ul">
                     <li class="active">全部</li>
                     <li>现代</li>
                     <li>简约</li>
                     <li>田园</li>
                     <li>简欧</li>
                     <li>中式</li>
                     <li>美式</li>
                     <li>雅致主义</li>
                     <li>日式</li>
                     <li>法式</li>
                     <li>童趣</li>
                     <li>欧式</li>
                     <li>混搭</li>
                     <li>新古典</li>
                     <li>西班牙</li>
                     <li>地中海</li>
                     <li>童趣</li>
                     <li>欧式</li>
                     <li>混搭</li>
                     <li>新古典</li>
                     <li>西班牙</li>
                     <li>地中海</li>
                 </ul>
             </div>
             <button class="show_btn"><span class="text">展开</span><span class="open_arrow"></span></button>
         </div>
         <div class="nav_list js_nav_list">
             <div class="label">装修风格</div>
             <div class="ul_box">
                 <ul class="ul">
                     <li class="active">全部</li>
                     <li>现代</li>
                     <li>简约</li>
                     <li>田园</li>
                     <li>简欧</li>
                     <li>中式</li>
                     <li>美式</li>
                     <li>雅致主义</li>
                     <li>日式</li>
                     <li>法式</li>
                     <li>童趣</li>
                     <li>欧式</li>
                     <li>混搭</li>
                     <li>新古典</li>
                     <li>西班牙</li>
                     <li>地中海</li>
                     <li>童趣</li>
                     <li>欧式</li>
                     <li>混搭</li>
                     <li>新古典</li>
                     <li>西班牙</li>
                     <li>地中海</li>
                 </ul>
             </div>
             <button class="show_btn"><span class="text">展开</span><span class="open_arrow"></span></button>
         </div>
     </div>
 </div>


	
</body>
</html>