<section class="page_footer_box">
    <a class="a_footer_box active">
        <div class="pos">
            <i class="bg sy"></i>
            <p class="title">首页</p>
        </div>
    </a>
    <a class="a_footer_box">
        <div class="pos">
            <i class="bg dhzx"></i>
            <p class="title">电话咨询</p>
        </div>
    </a>
    <a class="a_footer_box">
        <div class="pos">
            <i class="bg ksbj"></i>
            <p class="title">快速报价</p>
        </div>
    </a>
    <a class="a_footer_box">
        <div class="pos">
            <i class="bg srdz"></i>
            <p class="title">私人定制</p>
        </div>
    </a>
</section>