@import '../../common/init.less';
@import '../../common/template/page_nav.less';
@import '../../common/top_carousel.less';

/*.page_box{
  width:200px;
  height:100px;
  .page_content{
    .btn{
      width:100px;
      height:100px;
      font-size:16px;
    }
    .back(@background){
      background:@background;
    }
    .red{
      .btn;
      .back(red);
    }
    .yellow{
      .btn;
      .back(yellow);
    }
  }
}*/

.clearfix:after{content:""; display:block; clear:both;}


.page_appointment_box{
    padding:89px 0 95px 0;
    .content_box{
        position:relative;
        width:990px;
        height:146px;
        margin:0 auto;
        border:1px solid #000;
        border-radius:3px;
        .appointment_head{
            position:absolute;
            top:-9px;
            left:442px;
            width:94px;
            height:18px;
            line-height:18px;
            font-size:18px;
            color:@main;
            text-align:center;
            background:#f5f5f5;
        }
        .appointment_ul{
            margin-top:40px;
            .list{
                float:left;
                width:210px;
                margin:0 66px 0 54px;
                .appointment_tips{
                    margin-bottom:18px;
                    font-size:12px;
                    color:#000;
                }
                .appointment_input{
                    padding:3px 10px 3px 10px;
                    border:1px solid #000;
                    border-radius:3px;
                    background:#fff;
                }
            }
        }
        .appointment_submit{
           position:absolute;
           bottom:-15px;
           left:442px;
           width:94px;
           height:30px;
           line-height:30px;
           font-size:16px;
           color:#fff;
           background:#000;
           border-radius:3px;
           cursor:pointer;
        }
    }
}


.content_box{
    width:1200px;
    margin:0 auto;
}
.page_case_box{
    padding-top:100px;
    background:#fff;
    .case_box{
        .list{
            display:block;
            float:left;
            width:300px;
            height:186px;;
        }
    }
}

.page_site_box{
    padding-top:100px;
    background:#fff;
    .site_table{
        width:100%;
        text-align:center;
        th{
            height:49px;
            font-size:18px;
            color:#fff;
            background:#ababab;
            text-align:center;
        }
        td{
            height:48px;
            font-size:16px;
            color:#313332;
            border-bottom:1px solid #e6e6e6;
            .site_visit{
                width:98px;
                height:28px;
                line-height:28px;
                border:1px solid #000;
                border-radius:2px;
                font-size:16px;
                cursor:pointer;
            }
        }
        .site_w1{
            width:300px;
            border-left:1px solid #e6e6e6;
        }
        .site_w2{
            width:178px;
            border-left:1px solid #e6e6e6;
            border-right:1px solid #e6e6e6;
        }
    }
}

.tab_btn {
    float: left;
    width: 118px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #000;
    margin-left: -1px;
    font-size: 16px;
    color: @main;
    cursor: pointer;
}
.active {
    background: #000;
}

.page_team_box{
    background:#fff;
    padding-top:190px;
    .tab_box {
        .team_tab_box {
            width: 358px;
            margin: 0 auto 56px;
        }
        .team_content_box {
            height: 326px;
            background: #eee;
        }
    }
}

.page_team2_box{
    background:#fff;
    padding-top:170px;
    .team2_note{
        font-size:36px;
        color:@color3;
        text-align:center;
        margin-bottom:30px;
        span{
            color:@main;
        }
    }
    .tab_box {
        .team_tab_box {
            width: 240px;
            margin: 0 auto 56px;
        }
        .team_content_box {
            height: 326px;
            background: #eee;
        }
    }
}









.villa_head{
    width:438px;
    height:54px;
    border:1px solid #000;
    border-radius:3px;
    margin:0 auto 66px;
    text-align:center;
    .villa_title{
        display:inline-block;
        margin-top:-22px;
        font-size:44px;
        height:44px;
        line-height:44px;
        padding:0 15px 0 15px;
        color:#000;
        background:#fff;
    }
    .villa_note{
        display:inline-block;
        margin-top:28px;
        height:10px;
        padding:0 24px 0 24px;
        line-height:10px;
        text-align:center;
        font-size:14px;
        color:@main;
        background:#fff;
    }
}




