<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>整装装修</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active"})
<div class="page_banner_box">
	<div class="content_box banner">
		<img class="lazy" data-src="../../img/complete_banner.jpg" width="100%" height="100%">
	</div>
</div>
<!-- 定制栏 -->
<div class="page_custom_column">
	<div class="content_box">
		<h3 class="custom_column_head">点击输入您的信息，享受免费设计与报价</h3>
		<div class="custom_column_box clearfix">
			<label class="column_input"><input type="text" name="" placeholder="姓名"></label>
			<label class="column_input"><input type="text" name="" placeholder="电话"></label>
			<label class="column_input"><input type="text" name="" placeholder="楼盘名称"></label>
			<label class="column_input"><input type="text" name="" placeholder="建筑面积"><span class="unit">m²</span></label>
			<button class="column_btn">免费设计与报价</button>
		</div>
	</div>
</div>

<!-- 定做您的私人空间 -->
<div class="page_space_box">
	<div class="content_box">
		<div class="com_head">
			<h3 class="com_title">定做您的私人空间</h3>
			<p class="com_en">Customize your private space</p>
		</div>
		<ul class="space_ul clearfix">
			<li class="space_list list1">
				<div class="space_text">全屋环保</div>
			</li>
			<li class="space_list list2">
				<div class="space_text">高性价比</div>
			</li>
			<li class="space_list list3">
				<div class="space_text">大牌尖货</div>
			</li>
		</ul>
		<div class="carousel space_banner">
		    <ul class="carousel_ul" data-autoplay="true">
		        <li><img src="../../img/complete_space_banner1.jpg" width="100%" height="100%"></li>
		        <li><img src="../../img/complete_space_banner2.jpg" width="100%" height="100%"></li>
		    </ul>
		    <div class="indicator"></div>
		</div>
	</div>
</div>

<!-- 专业设计团队 -->
<div class="page_team_box">
	<div class="content_box">
		<div class="com_head">
			<h3 class="com_title">专业设计团队</h3>
			<p class="com_en">Professional design team</p>
			<p class="com_note">（从业十年以上设计师，只为追求极致生活的你量身设计）</p>
		</div>
	</div>
</div>


<!-- 客厅 卧室 阳台 -->
<div class="page_room_box">
	<div class="content_box">
		<div class="room_chunk clearfix">
			<div class="room_text text_l">
				<div class="room_arrow arrow_l"></div>
				<h5 class="room_title">客厅</h5>
				<p class="room_p">随心自由是每个人回到家后最渴望的状态，回到家中<br>踢掉繁重的皮鞋，<br>打开音乐仰首闭目，放松身体靠在沙发前，享受这一<br>刻的安静与想和。</p>
			</div>
			<div class="room_img"><img class="lazy" data-src="../../img/complete_room_kt.jpg" width="100%" height="100%"></div>
		</div>
		<div class="room_chunk clearfix">
			<div class="room_img"><img class="lazy" data-src="../../img/complete_room_ws.jpg" width="100%" height="100%"></div>
			<div class="room_text text_r">
				<div class="room_arrow arrow_r"></div>
				<h5 class="room_title">卧室</h5>
				<p class="room_p">每个人心中都有一个最理想的卧室，<br>走进温馨舒适的卧室，将自己的身体卷<br>缩在舒适的大床上，带着微笑静静的体<br>味随心所欲的安静空间。</p>
			</div>
		</div>
		<div class="room_chunk clearfix">
			<div class="room_text text_l">
				<div class="room_arrow arrow_l"></div>
				<h5 class="room_title">阳台</h5>
				<p class="room_p">随心自由是每个人回到家后最渴望的状态，回到家中<br>踢掉繁重的皮鞋，<br>打开音乐仰首闭目，放松身体靠在沙发前，享受这一<br>刻的安静与想和。</p>
			</div>
			<div class="room_img"><img class="lazy" data-src="../../img/complete_room_yt.jpg" width="100%" height="100%"></div>
		</div>
	</div>
</div>


<!-- 匠心工艺 -->
<div class="page_technological_box">
	<div class="content_box">
		<div class="com_head">
			<h3 class="com_title">匠心工艺</h3>
			<p class="com_en">Technological ingenuity</p>
			<p class="com_note">（精湛工艺，细致手工）</p>
		</div>
		<div class="tec_box clearfix">
			<div class="tec_big"><img src="../../img/complete_tec_big.jpg" width="100%" height="100%"></div>
			<div class="tec_side">
				<div class="tec_small"><img src="../../img/complete_tec_small1.jpg" width="100%" height="100%"></div>
				<div class="tec_small"><img src="../../img/complete_tec_small2.jpg" width="100%" height="100%"></div>
				<div class="tec_small"><img src="../../img/complete_tec_small3.jpg" width="100%" height="100%"></div>
			</div>
		</div>
	</div>
</div>

<!-- 五大承诺 -->
<div class="page_major_box">
	<div class="content_box">
		<div class="com_head">
			<h3 class="com_title">五大承诺</h3>
			<p class="com_en">Five major commitments</p>
			<p class="com_note">（五零靠谱工程，颠覆行业潜规则，为难自己，成就客户！）</p>
		</div>
		<ul class="major_ul clearfix">
			<li class="major_list">
				<div class="major_icon icon1"></div>
				<p class="major_p1">零污染</p>
				<p class="major_p2">环保不达标<br>（符合国家环保标准）<br>全额退款</p>
			</li>
			<li class="major_list">
				<div class="major_icon icon2"></div>
				<p class="major_p1">零假货</p>
				<p class="major_p2">假一赔三<br>货真价实<br>不蒙不骗</p>
			</li>
			<li class="major_list">
				<div class="major_icon icon3"></div>
				<p class="major_p1">零增项</p>
				<p class="major_p2">客户被动增项全免费<br>项目透明<br>价格确定</p>
			</li>
			<li class="major_list">
				<div class="major_icon icon4"></div>
				<p class="major_p1">零延迟</p>
				<p class="major_p2">延期一天赔一千<br>做不到就认赔</p>
			</li>
			<li class="major_list">
				<div class="major_icon icon5"></div>
				<p class="major_p1">零回扣</p>
				<p class="major_p2">集团统一采购<br>统一定价<br>杜绝回扣</p>
			</li>
		</ul>
	</div>
</div>

@@include('../common/page_btm_fixed.html')

</body>
</html>