<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修百科</title>
</head>
<body>
@@include('../common/page_nav.html',{"team":"active"})

<div class="page_enc_crumbs">
	<div class="content_box">
		<div class="crumbs">
			<a href="">装修攻略</a> &gt; <span>装修设计在大型居室中选用什么风格？</span>
		</div>
	</div>
</div>
<!-- 百科内容 -->
<div class="page_content_box">
	<div class="content_box clearfix">
		<!-- 正文 -->
		<div class="enc_main">
			<h4 class="enc_title">装修设计在大型居室中选用什么风格？</h4>
			<div class="enc_info"><span class="author">作者：范思哲</span><span>2017-12-15 16:51:58</span></div>
			<div class="enc_details">
				<p>依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别
离有着不同文明传承和见识，所以它们的着重点</p>
				<img class="lazy" data-src="../../img/p_img.jpg">
			<p>依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别
离有着不同文明传承和见识，所以它们的着重点依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风
格、现代风格四大类，关于这四大类流派别依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风
格、现代风格四大类，关于这四大类流派别离有着不同文明传承和见识，所以它们的着重点依照风格的不同我们能够将
装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别</p>
			<p>依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别
离有着不同文明传承和见识，所以它们的着重点依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风
格、现代风格四大类，关于这四大类流派别依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风
格、现代风格四大类，关于这四大类流派别离有着不同文明传承和见识，所以它们的着重点依照风格的不同我们能够将
装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别</p>
			</div>
			<div class="browse_box clearfix">
				<div class="browse icon"><i></i>92</div>
				<div class="favorite icon"><i></i>92</div>
			</div>
		</div>
		<!-- 侧栏 -->
		<div class="enc_side">
			<!-- 免费设计与报价 -->
			<div class="design_offer">
				<div class="do_title">免费设计与报价</div>
				<div class="do_note">设计师1对1服务</div>
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<button class="do_btn">立即预约申请</button>
				<div class="scroll_text_box scroll_text">
					<ul class="scroll_ul">
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
					</ul>
				</div>
				<div class="do_tel">
					<div class="tel">电话预约：<span class="tel_num"><img src="../../img/side_tel.png"></span></div>
				</div>
			</div>
			<!-- 点击获取精准报价 -->
			<div class="about_offer">
				<img src="../../img/about_offer_bg.jpg" width="100%" height="100%">
				<a class="offer" href="">点击获取精准报价</a>
			</div>
			<!-- 热点内容推荐 -->
			<div class="hot_recommend">
				<h3 class="hr_title">热点内容推荐<a class="hr_more" href="">更多&gt;&gt;</a></h3>
				<ul class="do_ul js_tabimg">
					<li class="list">
						<div class="do_num">1</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">2</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">3</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">4</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">5</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">6</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">7</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">8</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">9</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">10</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- 热装楼盘 -->
			<!--侧边热装楼盘-->
			<div class="side_hot_outfit">
			    <div class="header_title">
			        <h2 class="title">热装楼盘</h2>
			        <a class="more_btn">更多>></a>
			    </div>
			    <div class="side_hot_list">
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
@@include('../common/page_btm_fixed.html')



</body>
</html>