<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修百科</title>
</head>
<body>
@@include('../common/page_nav.html',{"team":"active"})
<div class="page_banner_box">
		<img class="lazy" data-src="../../img/encyclopedias_banner.jpg" width="100%" height="100%">
</div>

<!-- 百科导航 -->
<div class="page_enc_nav">
	<div class="content_box">
		<ul class="enc_ul clearfix">
			<li class="list mfsj">
				<a href="">
					<div class="enc_nav_in">
							<h3 class="nav_title">免费设计与报价</h3>
							<p class="nav_note">设计师1对1服务</p>
					</div>
				</a>
			</li>
			<li class="list zxbk">
				<a href="">
					<div class="enc_nav_in">
							<h3 class="nav_title">装修百科</h3>
							<p class="nav_note">Decoration Encyclopedia</p>
					</div>
				</a>
			</li>
			<li class="list hydt">
				<a href="">
					<div class="enc_nav_in">
							<h3 class="nav_title">行业动态</h3>
							<p class="nav_note">Industry dynamics</p>
					</div>
				</a>
			</li>
			<li class="list zxwd">
				<a href="">
					<div class="enc_nav_in">
							<h3 class="nav_title">装修问答</h3>
							<p class="nav_note">Decoration question and answer</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<!-- 百科内容 -->
<div class="page_content_box">
	<div class="content_box clearfix">
		<!-- 正文 -->
		<div class="enc_main">
			<ul class="dynamic_ul">
				<li class="list clearfix">
					<div class="dynamic_pic"><img class="lazy" data-src="../../img/about_dynamic_img.jpg" width="100%" height="100%"></div>
					<div class="dynamic_text">
						<h4 class="dynamic_title"><a href="">装修设计在大型居室中选用什么风格</a></h4>
						<div class="dynamic_summary">依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别离有着不同文明传承和见识，所以它们的着重点..<a class="dynamic_to" href="">[查看详情]</a></div>
						<div class="browse_box clearfix">
							<div class="browse icon"><i></i>92</div>
							<div class="favorite icon"><i></i>92</div>
						</div>
						<div class="dynamic_time">
							2017-12-15
						</div>
					</div>
				</li>
				<li class="list clearfix">
					<div class="dynamic_pic"><img class="lazy" data-src="../../img/about_dynamic_img.jpg" width="100%" height="100%"></div>
					<div class="dynamic_text">
						<h4 class="dynamic_title"><a href="">装修设计在大型居室中选用什么风格</a></h4>
						<div class="dynamic_summary">依照风格的不同我们能够将装修风格分为欧式风格、中式风格、田园风格、现代风格四大类，关于这四大类流派别离有着不同文明传承和见识，所以它们的着重点..<a class="dynamic_to" href="">[查看详情]</a></div>
						<div class="browse_box clearfix">
							<div class="browse icon"><i></i>92</div>
							<div class="favorite icon"><i></i>92</div>
						</div>
						<div class="dynamic_time">
							2017-12-15
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 侧栏 -->
		<div class="enc_side">
			<!-- 免费设计与报价 -->
			<div class="design_offer">
				<div class="do_title">免费设计与报价</div>
				<div class="do_note">设计师1对1服务</div>
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<input class="do_input" type="text" name="" placeholder="请输入您的称呼">
				<button class="do_btn">立即预约申请</button>
				<div class="scroll_text_box scroll_text">
					<ul class="scroll_ul">
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
						<li><span class="do_color">42分钟前</span>刘女士 139****免费预约</li>
					</ul>
				</div>
				<div class="do_tel">
					<div class="tel">电话预约：<span class="tel_num"><img src="../../img/side_tel.png"></span></div>
				</div>
			</div>
			<!-- 点击获取精准报价 -->
			<div class="about_offer">
				<img src="../../img/about_offer_bg.jpg" width="100%" height="100%">
				<a class="offer" href="">点击获取精准报价</a>
			</div>
			<!-- 热点内容推荐 -->
			<div class="hot_recommend">
				<h3 class="hr_title">热点内容推荐<a class="hr_more" href="">更多&gt;&gt;</a></h3>
				<ul class="do_ul">
					<li class="list">
						<div class="do_num">1</div>
						<a href="">
							房屋装修流程是什么？
							<div class="do_img"><img class="lazy" data-src="../../img/hot_recommend_img1.jpg" width="100%" height="100%"></div>
						</a>
					</li>
					<li class="list">
						<div class="do_num">2</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">3</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">4</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">5</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">6</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">7</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">8</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">9</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
					<li class="list">
						<div class="do_num">10</div>
						<a href="">
							房屋装修流程是什么？
						</a>
					</li>
				</ul>
			</div>
			<!-- 热装楼盘 -->
			<!--侧边热装楼盘-->
			<div class="side_hot_outfit">
			    <div class="header_title">
			        <h2 class="title">热装楼盘</h2>
			        <a class="more_btn">更多>></a>
			    </div>
			    <div class="side_hot_list">
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			        <div class="side_list">
			            <div class="img_box">
			                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
			            </div>
			            <div class="text_box">
			                <h3 class="title">中海寰宇天下</h3>
			                <p class="hu_num">签约户数：<span>14</span>户</p>
			                <a class="look_build">查看楼盘</a>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
@@include('../common/page_btm_fixed.html')



</body>
</html>