<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热装楼盘</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active"})
<!--顶部banner-->
<div class="page_banner_box">
    <img width="100%" height="100%" src="../../img/hot_outfit_banner_img.jpg">
    <div class="input_btm_box">
        <div class="input_box inline">
            <input type="text" placeholder="请输入您的姓名">
        </div>
        <div class="input_box inline">
            <input type="text" placeholder="请输入您的手机号码">
        </div>
        <div class="input_box inline">
            <input type="text" placeholder="您家楼盘名称">
        </div>
        <button class="btn inline">立即预约1对1楼盘</button>
    </div>
</div>
<!--main-->
<div class="page_main_content_box">
    <div class="header_nav">
        当前位置：<a>首页</a>>热装楼盘
    </div>
    <div class="main_content_box">
        <!--左边主体内容-->
        <div class="left_list_content">
            <div class="nav_list_box">
                <div class="title">楼盘位置</div>
                <ul class="nav_ul">
                    <li class="nav_li active">全部</li>
                    <li class="nav_li">城南区</li>
                    <li class="nav_li">海南区</li>
                    <li class="nav_li">顺德区</li>
                    <li class="nav_li">山水区</li>
                    <li class="nav_li">高明区</li>
                </ul>
            </div>

            <div class="product_list_box">
                <div class="product_content_box">
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                    <div class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_img.jpg">
                        </div>
                        <div class="product_content_box">
                            <h2 class="product_title">顺德雅居乐</h2>
                            <div class="label_num_box">
                                <span class="label">签约户数：<em>8</em>户</span>
                                <span class="label">开工户数：<em>8</em>户</span>
                                <span class="label">竣工户数：<em>8</em>户</span>
                            </div>
                            <p class="text">
                                顺德雅居乐花园位于佛山顺德区的行政、文化、商贸和金融等中心商业地段，临近顺德国际商
                                业城、顺德客运站、世纪小学、南区中学、大良医院等，仅30分钟便可快速直达佛山市中
                                心，地理位置优越。项目整体设计风格以简约、时尚、现代为主，建设高档商...
                            </p>
                            <div class="btn_box">
                                <a class="btn">查看小区案例</a>
                                <a class="btn">预约参观工地</a>
                            </div>
                        </div>
                    </div>
                </div>
                @@include('../common/paging.html')
            </div>
        </div>
        <!--右边侧边内容-->
        <div class="right_list_content">
            <div class="side_form_box">
                <div class="hb_bg"></div>
                <div class="form_box">
                    <h2 class="title">免费申请户型规划</h2>
                    <p class="note_text">提交您的信息专业家装顾问1对1服务</p>
                    <div class="form_input_box">
                        <div class="input_box">
                            <input type="text" placeholder="您的姓名">
                        </div>
                        <div class="input_box">
                            <input type="text" placeholder="房屋面积">
                        </div>
                        <div class="input_box">
                            <input type="text" placeholder="你家楼盘名称">
                        </div>
                        <div class="input_box">
                            <input type="text" placeholder="手机号码">
                        </div>
                    </div>
                    <button class="apply_btn">立即免费申请</button>
                    <div class="tel_box">
                        <p class="text">免费申请电话：<span>13XXXXXXXXX</span></p>
                        <p class="text">马上提交申请即送<span>1000</span>家装抵用券</p>
                    </div>
                </div>
                <div class="scroll_text_box scroll_text">
                    <ul class="scroll_ul">
                        <li><i class="spot">.</i>张** 137*****9提交预约信息1 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息2 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息3 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息4 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息5 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息6 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息7 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息8 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息9 [11/23]</li>
                        <li><i class="spot">.</i>张** 137*****9提交预约信息0 [11/23]</li>
                    </ul>
                </div>
            </div>
            <a class="side_img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_img.jpg">
            </a>
            <!--侧边热装楼盘-->
            <div class="side_hot_outfit">
                <div class="header_title">
                    <h2 class="title">热装楼盘</h2>
                    <a class="more_btn">更多>></a>
                </div>
                <div class="side_hot_list">
                    <div class="side_list">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                        </div>
                        <div class="text_box">
                            <h3 class="title">中海寰宇天下</h3>
                            <p class="hu_num">签约户数：<span>14</span>户</p>
                            <a class="look_build">查看楼盘</a>
                        </div>
                    </div>
                    <div class="side_list">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                        </div>
                        <div class="text_box">
                            <h3 class="title">中海寰宇天下</h3>
                            <p class="hu_num">签约户数：<span>14</span>户</p>
                            <a class="look_build">查看楼盘</a>
                        </div>
                    </div>
                    <div class="side_list">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                        </div>
                        <div class="text_box">
                            <h3 class="title">中海寰宇天下</h3>
                            <p class="hu_num">签约户数：<span>14</span>户</p>
                            <a class="look_build">查看楼盘</a>
                        </div>
                    </div>
                    <div class="side_list">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                        </div>
                        <div class="text_box">
                            <h3 class="title">中海寰宇天下</h3>
                            <p class="hu_num">签约户数：<span>14</span>户</p>
                            <a class="look_build">查看楼盘</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--侧边推荐案例-->
            <div class="side_hot_outfit">
                <div class="header_title">
                    <h2 class="title">推荐案例</h2>
                    <a class="more_btn">更多>></a>
                </div>
                <div class="img_a">
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                    <a class="case_img">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                    </a>
                </div>
                <div class="label_box">
                    <a>新古典</a>
                    <a>港式</a>
                    <a>北欧</a>
                    <a>混搭</a>
                    <a>地中海</a>
                    <a>美式</a>
                    <a>简美</a>
                    <a>欧式</a>
                    <a>田园</a>
                    <a>日式</a>
                    <a>简约</a>
                    <a>中式</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>