<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修贷</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active"})
<div class="page_loan_head">
		<img src="../../img/loan_banner_bg.jpg">
		<div class="apply_box">
			<div class="apply_title">30秒快速申请 <span>--我们严格保护您的个人信息隐私</span></div>
			<div class="form_box clearfix">
				<div class="input_box">
					<label class="apply_input">姓名：<input type="text" value="" placeholder="请输入您的姓名"></label>
					<label class="apply_input">手机：<input type="text" value="" placeholder="请输入您的手机号码"></label>
					<label class="apply_input">楼盘：<input type="text" value="" placeholder="请输入您的楼盘"></label>
					<label class="apply_input">面积：<input type="text" value="" placeholder="请输入您的楼盘面积"></label>
				</div>
				<button class="apply_btn">立即<br>贷款</button>
			</div>
		</div>
</div>

<!-- 最新装修贷用户 -->
<div class="page_user_box">
	<div class="content_box">
		<h3 class="loan_title">最新装修贷用户</h3>
		<div class="loan_line"></div>
		<div class="loan_note">（我们严格保护用户隐私，此处已经征得用户同意）</div>
		<ul class="user_ul clearfix">
			<li class="user_list">
				<div class="lan_box">
					本人是普通上班族。刚付首付不久，剩下装修费用不多，刚前段时间无意上网发现瀚图装饰网站有装修贷款，就申请贷款装修，想不到审批快，现在房子施工了，期待新家到来！
				</div>
				<div class="user_info">
					<div class="user_photo"><img src="../../img/loan_user_photo1.jpg"></div><span class="user_name">胡女士</span>
				</div>
			</li>
			<li class="user_list">
				<div class="lan_box">
					本公司资金周转紧张，在与瀚图装饰沟通房子装修方案时候，付工顺便推荐他们装修贷，一拍即合，现在装修和公司运转两不误，真是合作愉快！
				</div>
				<div class="user_info">
					<div class="user_photo"><img src="../../img/loan_user_photo2.jpg"></div><span class="user_name">赵先生</span>
				</div>
			</li>
			<li class="user_list">
				<div class="lan_box">
					对于金融行业上班的我，审批快、手续又简单，审批金额也不小我怎么不好好利用呢？现在资金红利时代，选择瀚图装饰装修贷，就是选择另外一种省钱投资。
				</div>
				<div class="user_info">
					<div class="user_photo"><img src="../../img/loan_user_photo3.jpg"></div><span class="user_name">楚先生</span>
				</div>
			</li>
		</ul>
		<div class="custom_box clearfix">
			<div class="custom_img"><img src="../../img/loan_custom_img.jpg" width="100%" height="100%"></div>
			<div class="custom_text">
				<h4 class="custom_title">定制方案<span>资质越好，方案越划算</span></h4>
				<label class="custom_input"><input class="tel" type="text" name="" placeholder="请输入您的手机号码"><a class="code">获取验证码</a></label>
				<label class="custom_input"><input class="tel" type="text" name="" placeholder="请输入验证码"></label>
				<button class="custom_btn">立即申请</button>
				<p class="custom_people">正在申请人数</p>
				<div class="cunstom_num">
					<span>0</span>
					<span>5</span>
					<span>1</span>
					<span>7</span>
					<span>7</span>
					<span>2</span>
				</div>
			</div>
		</div>
		<ul class="intr_ul clearfix">
			<li class="intr_list">
				<i class="intr_icon icon1"></i>
				<p class="intr_p1">选择多</p>
				<p class="intr_p2">上千种精选金融产品</p>
			</li>
			<li class="intr_list">
				<i class="intr_icon icon2"></i>
				<p class="intr_p1">审核快</p>
				<p class="intr_p2">最快30分钟完成审批</p>
			</li>
			<li class="intr_list">
				<i class="intr_icon icon3"></i>
				<p class="intr_p1">通过率高</p>
				<p class="intr_p2">98%以上申请可通过</p>
			</li>
			<li class="intr_list">
				<i class="intr_icon icon4"></i>
				<p class="intr_p1">一对一服务</p>
				<p class="intr_p2">金融专员全程服务</p>
			</li>
		</ul>
	</div>
</div>

<!-- 什么是装修贷款？ -->
<div class="page_what_box">
	<div class="content_box">
		<h3 class="loan_title">什么是装修贷款？</h3>
		<div class="loan_line"></div>
		<p class="what_loan">
			 装修贷款是无担保个人信用贷款的主要用途之一，是专为准备装修的工薪人士发放的个人信用贷款，用于房屋装修相关的支出。无需担保，无需抵押物，以其每月均收入作为贷款金额判断依据，最高可贷50万。 <br><br>装修贷款，让您装修不再束手束脚，打造舒适的温馨家园！
		</p>
	</div>
</div>

<!-- 装修贷款的产品特色 -->
<div class="page_special_box">
	<div class="content_box">
		<h3 class="loan_title">装修贷款的产品特色</h3>
		<div class="loan_line"></div>
		<ul class="special_ul clearfix">
			<li class="special_list">
				<div class="special_icon icon1"></div>
				<p class="special_p1">无担保</p>
				<p class="special_p2">无需担保，您的信用就是最好的贷款通行证！</p>
			</li>
			<li class="special_list">
				<div class="special_icon icon2"></div>
				<p class="special_p1">申请易</p>
				<p class="special_p2">电话或者网上申请，您只需上门一次！</p>
			</li>
			<li class="special_list">
				<div class="special_icon icon3"></div>
				<p class="special_p1">放款快</p>
				<p class="special_p2">最快一天放款邀您体验前所未有的快捷服务</p>
			</li>
			<li class="special_list">
				<div class="special_icon icon4"></div>
				<p class="special_p1">可贷额度高</p>
				<p class="special_p2">最高可贷50万额定高，房款快急用钱首选</p>
			</li>
		</ul>
	</div>
</div>

@@include('../common/page_btm_fixed.html')

</body>
</html>