<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active","style":"background:#000"})
<!--装修计算-->
<div class="page_calc_box">
    <img width="100%" height="100%" src="../../img/page_offer_img.jpg">
    <div class="calc_content_box">
        <div class="calc_left_box">
            <div class="form_box">
                <div class="header_title">
                    装修计算器<span class="note_tit">今天已有<em>1234</em>位业主获取了装修预算</span>
                </div>
                <div class="input_list">
                    <label>所在城市：<span>*</span></label>
                    <div class="input_box">
                        <div class="select_box">
                            <p class="val">省/市</p>
                            <input type="hidden">
                            <i class="down_bg"></i>
                            <ul class="select_menu_box">
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                            </ul>
                        </div>
                        <div class="select_box">
                            <p class="val">市/地区</p>
                            <input type="hidden">
                            <i class="down_bg"></i>
                            <ul class="select_menu_box">
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                                <li>浙江省</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input_list">
                    <label>房屋面积：<span>*</span></label>
                    <div class="input_box">
                        <div class="select_box area_select">
                            <input type="text" placeholder="输入您的房屋面积">
                            <em>m2</em>
                        </div>
                    </div>
                </div>
                <div class="input_list f_input_list">
                    <label>房屋户型：<span>*</span></label>
                    <div class="input_box">
                        <div class="f_input_box">
                            <div class="select_box ">
                                <p class="val">1室</p>
                                <input type="hidden">
                                <i class="down_bg"></i>
                                <ul class="select_menu_box">
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                </ul>
                            </div>
                            <div class="select_box">
                                <p class="val">1厅</p>
                                <input type="hidden">
                                <i class="down_bg"></i>
                                <ul class="select_menu_box">
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                </ul>
                            </div>
                            <div class="select_box">
                                <p class="val">1厨</p>
                                <input type="hidden">
                                <i class="down_bg"></i>
                                <ul class="select_menu_box">
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                </ul>
                            </div>
                        </div>
                        <div class="f_input_box">
                            <div class="select_box f_select_box">
                                <p class="val">1卫</p>
                                <input type="hidden">
                                <i class="down_bg"></i>
                                <ul class="select_menu_box">
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                </ul>
                            </div>
                            <div class="select_box f_select_box">
                                <p class="val">1阳台</p>
                                <input type="hidden">
                                <i class="down_bg"></i>
                                <ul class="select_menu_box">
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                    <li>浙江省</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clean"></div>
                </div>
                <div class="input_list">
                    <label>手机号码：<span>*</span></label>
                    <div class="input_box">
                        <div class="select_box area_select">
                            <input type="text" placeholder="报价结果将发送到您的手机">
                            <em>m2</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calc_btn_box">
            <div class="calc_btn">
                <button class="btn">开始<br>计算</button>
            </div>
        </div>
        <div class="calc_right_box">
            <div class="content_box">
                <div class="header_title">
                    您的家装预算<span>123456</span>元
                </div>
                <div class="result_box">
                    <div class="pos">
                        <p>材料费：<span>37243</span>元</p>
                        <p>人工费：<span>37243</span>元</p>
                        <p>设计费：<span>37243</span>元</p>
                        <p>质检费：<span>37243</span>元</p>
                    </div>
                </div>
                <p class="note_text">因材料品牌及工程量不同，具体报价以量房实测为准</p>
            </div>
        </div>
    </div>
</div>
<div class="page_scroll_text_box">
    <div class="scroll_box">
        <div class="scroll_text_box scroll_text">
            <ul class="scroll_ul">
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
            </ul>
        </div>
    </div>
    <div class="scroll_box">
        <div class="scroll_text_box scroll_text">
            <ul class="scroll_ul">
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
                <li><span>42分钟前</span>刘女士 139****85㎡</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>