<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>私人定制方案</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active"})
<div class="page_banner_box">
	<div class="content_box banner">
		<img class="lazy" data-src="../../img/personal_custom_banner.jpg" width="100%" height="100%">
	</div>
</div>
<!-- 定制栏 -->
<div class="page_custom_column">
	<div class="content_box">
		<h3 class="custom_column_head">点击输入您的信息，享受私人定制</h3>
		<div class="custom_column_box clearfix">
			<input class="column_input" type="text" name="" placeholder="姓名">
			<input class="column_input" type="text" name="" placeholder="电话">
			<input class="column_input" type="text" name="" placeholder="楼盘名称">
			<input class="column_input" type="text" name="" placeholder="面积">
			<button class="column_btn">立即享受定制</button>
		</div>
	</div>
</div>


<!-- 装修流程6步骤 -->
<div class="page_step_box">
	<div class="content_box">
		<div class="step_box">
			<h3 class="step_head">装修流程<i class="icon"></i>步骤</h3>
			<p class="step_note">把握每一个装修节点  为您的家装保驾护航</p>
			<ul class="step_ul clearfix">
				<li class="list">
					<div class="step_icon step_icon1"></div>
					<p class="step_text1">发布装修设计</p>
					<p class="step_text2">无需注册，快速发布</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon2"></div>
					<p class="step_text1">专业设计1对1服务</p>
					<p class="step_text2">我们会在30分钟内与您联系</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon3"></div>
					<p class="step_text1">免费量房验房</p>
					<p class="step_text2">钥匙入手，质量检测很必要</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon4"></div>
					<p class="step_text1">确定签约</p>
					<p class="step_text2">多分方案对比选择</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon5"></div>
					<p class="step_text1">发布装修设计</p>
					<p class="step_text2">选择最满意设计</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon6"></div>
					<p class="step_text1">获得装修保障</p>
					<p class="step_text2">走装修售后服务备案</p>
				</li>
			</ul>
			<ul class="step_num_ul clearfix">
				<li class="list"><span>1</span></li>
				<li class="list"><span>2</span></li>
				<li class="list"><span>3</span></li>
				<li class="list"><span>4</span></li>
				<li class="list"><span>5</span></li>
				<li class="list"><span>6</span></li>
			</ul>
		</div>
	</div>
</div>

<!-- 无缝衔接的专案服务团队 -->
<div class="page_team_box">
	<div class="content_box">
		<h3 class="team_head">无缝衔接的专案服务团队</h3>
		<p class="team_note">每个服务团队必然包括一位主创设计师，和一个强大的配合团队。<br>为您提供专业的家装咨询和设计服务，并保障设计与施工之间的无缝衔接，完美实现您的梦想家.</p>
		<div class="team_pic"><img src="../../img/personal_team_bg.jpg" width="100%" height="100%"></div>
	</div>
</div>

<!-- 最新申请户型设计业主 -->
<div class="page_owner_box">
	<div class="content_box">
		<h3 class="owner_head">最新申请户型设计业主</h3>
		<table class="team_table">
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
		</table>
	</div>
</div>

<!-- 申请免费设计 -->
<div class="page_apply_box">
	<div class="content_box">
		<div class="apply_box">
			<h3 class="apply_head">申请免费设计</h3>
			<div class="form_apply_box clearfix">
				<div class="list">
					<p class="apply_title">您的姓名</p>
					<div class="input"><input type="text" name="" placeholder="请填写您的姓名"></div>
				</div>
				<div class="list">
					<p class="apply_title">您的手机号码</p>
					<div class="input"><input type="text" name="" placeholder="请填写您的手机号码"></div>
				</div>
				<div class="list">
					<p class="apply_title">房屋面积</p>
					<div class="input"><input type="text" name="" placeholder="请填写您的房屋面积"><span class="unit">m²</span></div>
				</div>
			</div>
			<button class="apply_btn">提交</button>
		</div>
	</div>
</div>

<!-- 图片展示 -->
<div class="page_picture_box">
	<div class="content_box">
		<div class="carousel picture">
		    <ul class="carousel_ul" data-autoplay="true">
		        <li><a href=""><img class="lazy" data-src="../../img/personal_picture_pic.jpg" width="100%" height="100%"></a></li>
		        <li><a href=""><img class="lazy" data-src="../../img/personal_picture_pic2.jpg" width="100%" height="100%"></a></li>
		    </ul>
		    <button class="prev_btn pic_btn"></button>
		    <button class="next_btn pic_btn"></button>
		</div>
	</div>
</div>

<!-- 二室户型改造方案 -->
<div class="page_reform_box">
	<div class="reform_head">
		<div class="content_box clearfix">
			<div class="reform_title">二室户型<br>改造方案</div>
			<div class="reform_appoint"><a class="reform_btn" href="">立即预约设计</a></div>
		</div>
	</div>
	<div class="content_box">
		<div class="reform_acreage_pic"><img src="../../img/personal_reform_acreage.jpg"></div>
		<div class="reform_pic">
			<img src="../../img/personal_reform_pic.jpg">
		</div>
		<ul class="reform_ul">
			<li class="list"><span>1</span>将厨房改到工作阳台，缩短了到餐厅的距离，更方便。</li>
			<li class="list"><span>2</span>利用过剩的过道空间，增大储藏空间。</li>
			<li class="list"><span>3</span>增设书房，与卧室隔离，让社交、工作和休息隔离，互不影响。</li>
		</ul>
	</div>
</div>

<!-- 匠人施工 -->
<div class="page_artisan_box">
	<div class="content_box">
		@@include('../special_page/common/villa_content_head.html',{"title":"匠人施工","note":"十年匠人手艺  只做良心工程"})
		<div class="artisan_box clearfix">
			<div class="artisan_left">
				<div class="artisan_big"><img src="../../img/personal_artisan_pic1.jpg"></div>
				<div class="artisan_small"><img src="../../img/personal_artisan_pic2.jpg"></div>
				<div class="artisan_small"><img src="../../img/personal_artisan_pic3.jpg"></div>
				<div class="artisan_big"><img src="../../img/personal_artisan_pic4.jpg"></div>
			</div>
			<div class="artisan_right"><img src="../../img/personal_artisan_pic5.jpg"></div>
		</div>
	</div>
</div>

<!-- 一站式精装定制 -->
<div class="page_hardcover_box">
	<div class="content_box">
		<h3 class="hardcover_head">一站式精装定制</h3>
		<ul class="hardcover_ul clearfix">
			<li class="list">
				<img src="../../img/personal_hardcover_pic1.jpg">
				<div class="hardcove_text">
					<p class="text_big">了解</p>
					<p class="text_small">选择精品设计，充分激发自己设计灵感，预约到店直观体验。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic2.jpg">
				<div class="hardcove_text">
					<p class="text_big">沟通</p>
					<p class="text_small">与私人设计师当面沟通装修需求，了解个性化定制设计。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic3.jpg">
				<div class="hardcove_text">
					<p class="text_big">设计</p>
					<p class="text_small">私人设计师定制个性化设计方案，3D效果图逼真呈现，方案改到满意为止！</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic4.jpg">
				<div class="hardcove_text">
					<p class="text_big">选材</p>
					<p class="text_small">根据设计方案，设计师陪同在瀚图实体店选择所需主材，海量名品任选，完全个性化定制。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic5.jpg">
				<div class="hardcove_text">
					<p class="text_big">施工</p>
					<p class="text_small">基础硬装开始施工，水、电、木、瓦、油按部就班。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic6.jpg">
				<div class="hardcove_text">
					<p class="text_big">家具</p>
					<p class="text_small">家居设计师全程参与设计，衣柜、橱柜、嵌入式玄关柜等全屋定制家具，收纳空间充分利用。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic7.jpg">
				<div class="hardcove_text">
					<p class="text_big">家电</p>
					<p class="text_small">油烟机、打火灶、空调等家电一站式采购，国内大品牌，品质可靠，无中间商差价。</p>
				</div>
			</li>
			<li class="list">
				<img src="../../img/personal_hardcover_pic8.jpg">
				<div class="hardcove_text">
					<p class="text_big">软饰</p>
					<p class="text_small">窗帘、沙发布艺等软装搭配，私人设计师为您提供精心搭配方案。</p>
				</div>
			</li>
		</ul>
	</div>
</div>


</body>
</html>