<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>私人定制方案</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active"})
<div class="page_banner_box">
	<div class="content_box banner">
		<img class="lazy" data-src="../../img/personal_custom_banner.jpg" width="100%" height="100%">
	</div>
</div>
<!-- 定制栏 -->
<div class="page_custom_column">
	<div class="content_box">
		<h3 class="custom_column_head">点击输入您的信息，享受私人定制</h3>
		<div class="custom_column_box clearfix">
			<input class="column_input" type="text" name="" placeholder="姓名">
			<input class="column_input" type="text" name="" placeholder="电话">
			<input class="column_input" type="text" name="" placeholder="楼盘名称">
			<input class="column_input" type="text" name="" placeholder="面积">
			<button class="column_btn">立即享受定制</button>
		</div>
	</div>
</div>


<!-- 装修流程6步骤 -->
<div class="page_step_box">
	<div class="content_box">
		<div class="step_box">
			<h3 class="step_head">装修流程<i class="icon"></i>步骤</h3>
			<p class="step_note">把握每一个装修节点  为您的家装保驾护航</p>
			<ul class="step_ul clearfix">
				<li class="list">
					<div class="step_icon step_icon1"></div>
					<p class="step_text1">发布装修设计</p>
					<p class="step_text2">无需注册，快速发布</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon2"></div>
					<p class="step_text1">专业设计1对1服务</p>
					<p class="step_text2">我们会在30分钟内与您联系</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon3"></div>
					<p class="step_text1">免费量房验房</p>
					<p class="step_text2">钥匙入手，质量检测很必要</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon4"></div>
					<p class="step_text1">确定签约</p>
					<p class="step_text2">多分方案对比选择</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon5"></div>
					<p class="step_text1">发布装修设计</p>
					<p class="step_text2">选择最满意设计</p>
				</li>
				<li class="list">
					<div class="step_icon step_icon6"></div>
					<p class="step_text1">获得装修保障</p>
					<p class="step_text2">走装修售后服务备案</p>
				</li>
			</ul>
			<ul class="step_num_ul clearfix">
				<li class="list"><span>1</span></li>
				<li class="list"><span>2</span></li>
				<li class="list"><span>3</span></li>
				<li class="list"><span>4</span></li>
				<li class="list"><span>5</span></li>
				<li class="list"><span>6</span></li>
			</ul>
		</div>
	</div>
</div>

<!-- 无缝衔接的专案服务团队 -->
<div class="page_team_box">
	<div class="content_box">
		<h3 class="team_head">无缝衔接的专案服务团队</h3>
		<p class="team_note">每个服务团队必然包括一位主创设计师，和一个强大的配合团队。<br>为您提供专业的家装咨询和设计服务，并保障设计与施工之间的无缝衔接，完美实现您的梦想家.</p>
		<div class="team_pic"><img src="../../img/personal_team_bg.jpg" width="100%" height="100%"></div>
	</div>
</div>

<!-- 最新申请户型设计业主 -->
<div class="page_owner_box">
	<div class="content_box">
		<h3 class="owner_head">最新申请户型设计业主</h3>
		<table class="team_table">
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
			<tr>
				<td class="t_w200">2017-11-08</td>
				<td class="t_w200">大良</td>
				<td>九曲小区</td>
				<td class="t_w175">47m2</td>
				<td class="t_w175">住宅公寓</td>
			</tr>
		</table>
	</div>
</div>







</body>
</html>