<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>装修攻略</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active"})

<div class="page_banner_box">
	<div class="content_box">
		<div class="raiders_banner">
			<img class="lazy" data-src="../../img/raiders_banner.jpg" width="100%" height="100%">
		</div>
	</div>
</div>

<div class="page_raiders_nav">
	<div class="content_box">
		<div class="crumbs">
			<span>当前位置：</span><a href="">首页</a>&gt;<span>热装楼盘</span>
		</div>
		<div class="groups">
			<div class="group_row clearfix">
				<div class="group_title">案例户型</div>
				<div class="group_item">
					<a href="#" class="group_list active">不限</a>
					<a href="#" class="group_list">普通住宅</a>
					<a href="#" class="group_list">三室</a>
					<a href="#" class="group_list">四室</a>
					<a href="#" class="group_list">别墅</a>
					<a href="#" class="group_list">自建房</a>
					<a href="#" class="group_list">旧</a>
					<a href="#" class="group_list">商业装修</a>
				</div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">装修风格</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">现代简约</a>
					<a href="#" class="group_list">欧式古典</a>
					<a href="#" class="group_list">新中式</a>
					<a href="#" class="group_list">法式</a>
					<a href="#" class="group_list">美式乡村</a>
					<a href="#" class="group_list">简欧</a>
					<a href="#" class="group_list">现代前卫</a>
					<a href="#" class="group_list">雅致主义</a>
					<a href="#" class="group_list">新古典</a>
					<a href="#" class="group_list">地中海式</a>
					<a href="#" class="group_list">其他</a>
				</div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">报价预算</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">5W一下</a>
					<a href="#" class="group_list">5-10W</a>
					<a href="#" class="group_list">10-15W</a>
					<a href="#" class="group_list">15-20W</a>
					<a href="#" class="group_list">20-50W</a>
					<a href="#" class="group_list">50-100W</a>
					<a href="#" class="group_list">100W以上</a>
				</div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">空间功能</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">客厅</a>
					<a href="#" class="group_list">主卧</a>
					<a href="#" class="group_list">次卧</a>
					<a href="#" class="group_list">老人房</a>
					<a href="#" class="group_list">小孩房</a>
					<a href="#" class="group_list">书房</a>
					<a href="#" class="group_list">走廊</a>
					<a href="#" class="group_list">餐厅</a>
					<a href="#" class="group_list">厨房</a>
					<a href="#" class="group_list">厕所</a>
					<a href="#" class="group_list">阳台</a>
					<a href="#" class="group_list">入室花园</a>
					<a href="#" class="group_list">休闲区</a>
					<a href="#" class="group_list">玄关</a>
				</div>
				<div class="group_open">展开<span class="open_arrow"></span></div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">热门楼盘</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">千灯湖一号</a>
					<a href="#" class="group_list">滨江一号</a>
					<a href="#" class="group_list">高明碧桂圆</a>
					<a href="#" class="group_list">自建别墅</a>
				</div>
			</div>
		</div>
		<div class="visit_box clearfix">
			<div class="visit_line"></div>
			<p class="visit_text">免费获取设计报价</p>
			<input class="visit_input" type="text" name="" placeholder="您的称呼">
			<input class="visit_input" type="text" name="" placeholder="联系电话">
			<input class="visit_input" type="text" name="" placeholder="建筑面积">
			<button class="visit_btn">免费获取设计报价</button>
		</div>
	</div>
</div>

<!-- 正文 -->
<div class="page_raiders_content">
	<div class="content_box">
		<ul class="raiders_ul">
			<li class="list">
				<div class="raiders_img">
					<a href=""><img class="lazy" data-src="../../img/raiders_pic1.jpg" width="100%" height="100%"></a>		
					<div class="ask_box clearfix">
						<a class="like"><i class="icon"></i>我喜欢</a>
						<a class="how_much" href="">装修成这样花多少钱？</a>
					</div>
				</div>
				<div class="raiders_text">
					 <a class="photo" href=""><img src="../../img/ranking_photo.jpg"></a>
					 <p class="name">刘德华</p>
					 <p class="introduce">中式现代三居室内装饰效中式现代三居室内装饰效</p>
				</div>
			</li>
			<li class="list">
				<div class="raiders_img">
					<a href=""><img class="lazy" data-src="../../img/raiders_pic2.jpg" width="100%" height="100%"></a>		
					<div class="ask_box clearfix">
						<a class="like"><i class="icon"></i>我喜欢</a>
						<a class="how_much" href="">装修成这样花多少钱？</a>
					</div>
				</div>
				<div class="raiders_text">
					 <a class="photo" href=""><img src="../../img/ranking_photo.jpg"></a>
					 <p class="name">刘德华</p>
					 <p class="introduce">中式现代三居室内装饰效中式现代三居室内装饰效</p>
				</div>
			</li>
			<li class="list">
				<div class="raiders_img">
					<a href=""><img class="lazy" data-src="../../img/raiders_pic3.jpg" width="100%" height="100%"></a>		
					<div class="ask_box clearfix">
						<a class="like"><i class="icon"></i>我喜欢</a>
						<a class="how_much" href="">装修成这样花多少钱？</a>
					</div>
				</div>
				<div class="raiders_text">
					 <a class="photo" href=""><img src="../../img/ranking_photo.jpg"></a>
					 <p class="name">刘德华</p>
					 <p class="introduce">中式现代三居室内装饰效中式现代三居室内装饰效</p>
				</div>
			</li>
			<li class="list">
				<div class="raiders_img">
					<a href=""><img class="lazy" data-src="../../img/raiders_pic4.jpg" width="100%" height="100%"></a>		
					<div class="ask_box clearfix">
						<a class="like"><i class="icon"></i>我喜欢</a>
						<a class="how_much" href="">装修成这样花多少钱？</a>
					</div>
				</div>
				<div class="raiders_text">
					 <a class="photo" href=""><img src="../../img/ranking_photo.jpg"></a>
					 <p class="name">刘德华</p>
					 <p class="introduce">中式现代三居室内装饰效中式现代三居室内装饰效</p>
				</div>
			</li>
			<li class="list">
				<div class="raiders_img">
					<a href=""><img class="lazy" data-src="../../img/raiders_pic1.jpg" width="100%" height="100%"></a>		
					<div class="ask_box clearfix">
						<a class="like"><i class="icon"></i>我喜欢</a>
						<a class="how_much" href="">装修成这样花多少钱？</a>
					</div>
				</div>
				<div class="raiders_text">
					 <a class="photo" href=""><img src="../../img/ranking_photo.jpg"></a>
					 <p class="name">刘德华</p>
					 <p class="introduce">中式现代三居室内装饰效中式现代三居室内装饰效</p>
				</div>
			</li>
		</ul>
	</div>
</div>

</body>
</html>