<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装修攻略详情</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active","style":"background:#000"})
    <div class="header_nav_address">
        当前位置：<a>首页</a>>装修案例>中式现代三居室内装饰效果图片
    </div>
<div class="raiders_container_box">
    <div class="left_container">
        <h1 class="carousel_title">中式现代三居室内装饰效果图片</h1>
        <div class="big_carousel_box">
            <div class="hidden_box">
                <ul class="carousel_ul">
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/big_carousel_img.jpg">
                    </li>
                </ul>
            </div>
            <button class="btn prev_btn"></button>
            <button class="btn next_btn"></button>
        </div>
        <p class="problem_text">装修成这样需要花多少钱？</p>
        <div class="small_carousel_box">
            <button class="btn prev_btn"></button>
            <div class="hidden_box">
                <ul class="carousel_ul">
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                    <li>
                        <img width="100%" height="100%" src="../../img/small_carousel_img.jpg">
                    </li>
                </ul>
            </div>
            <button class="btn next_btn"></button>
        </div>
    </div>
    <div class="right_container">
        <div class="side_top_box">
            <div class="title">我喜欢这效果</div>
            <p class="note_text"><span class="left"></span>免费预约参观<span class="right"></span></p>
            <form class="form">
                <div class="input_box">
                    <input type="text" placeholder="您的称呼">
                </div>
                <div class="input_box">
                    <input type="text" placeholder="手机号码">
                </div>
                <div class="input_box">
                    <input type="text" placeholder="楼盘名称">
                </div>
                <button class="form_btn">立即参观这个效果</button>
            </form>
        </div>
        <div class="side_bottom_box">
            <div class="title">最新上传楼盘效果</div>
            <div class="a_img_box">
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
                <a class="img_box">
                    <img width="100%" height="100%" src="../../img/side_img.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>