<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>材料工艺</title>
</head>
<body>
@@include('../common/page_nav.html',{"technology":"active"})
<div class="page_banner_box">
	<div class="content_box banner">
		<img class="lazy" data-src="../../img/technology_banner.jpg" width="100%" height="100%">
	</div>
</div>
<!-- 点击输入您的信息，立即预约参观 -->
<div class="page_column_box">
	<div class="content_box column_box">
		 <div class="column_title">点击输入您的信息，立即预约参观</div>
		 <div class="column_input">
		 	<input type="text" name="" placeholder="您的称呼">
		 	<input type="text" name="" placeholder="您的电话">
		 	<input type="text" name="" placeholder="您的楼盘">
		 	<button class="column_btn">预约参观工艺</button>
		 </div>
	</div>
</div>

<!-- 工艺 -->
<div class="tab_box">
	<div class="nav_outer">
		<div class="tab_nav_box clearfix">
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon1.jpg" width="100%" height="100%"></div>
				<p class="nav_text">施工保护</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon2.jpg" width="100%" height="100%"></div>
				<p class="nav_text">土建工艺</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon3.jpg" width="100%" height="100%"></div>
				<p class="nav_text">水电工艺</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon4.jpg" width="100%" height="100%"></div>
				<p class="nav_text">防水工艺</p>
			</div>
			<div class="tab_btn active">
				<div class="nav_img"><img src="../../img/technology_nav_icon5.jpg" width="100%" height="100%"></div>
				<p class="nav_text">泥工工艺</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon6.jpg" width="100%" height="100%"></div>
				<p class="nav_text">木工工艺</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon7.jpg" width="100%" height="100%"></div>
				<p class="nav_text">油漆工艺</p>
			</div>
			<div class="tab_btn">
				<div class="nav_img"><img src="../../img/technology_nav_icon8.jpg" width="100%" height="100%"></div>
				<p class="nav_text">扇灰工艺</p>
			</div>
		</div>
	</div>
	<div class="content_outer">
		<div class="tab_content_box">
			<div class="tab_content">1</div>
			<div class="tab_content">2</div>
			<div class="tab_content">3</div>
			<div class="tab_content">4</div>
			<div class="tab_content">
				<h3 class="tec_title">泥工工艺</h3>
				<div class="tec_chunk clearfix">
					<div class="tec_img"><img src="../../img/technology_sg_img1.jpg"></div>
					<div class="tec_text text_r">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
				</div>
				<div class="tec_chunk clearfix">
					<div class="tec_text text_l">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
					<div class="tec_img"><img src="../../img/technology_sg_img2.jpg"></div>
				</div>
				<div class="tec_chunk clearfix">
					<div class="tec_img"><img src="../../img/technology_sg_img3.jpg"></div>
					<div class="tec_text text_r">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
				</div>
				<div class="tec_chunk clearfix">
					<div class="tec_text text_l">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
					<div class="tec_img"><img src="../../img/technology_sg_img4.jpg"></div>
				</div>
				<div class="tec_chunk clearfix">
					<div class="tec_img"><img src="../../img/technology_sg_img5.jpg"></div>
					<div class="tec_text text_r">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
				</div>
				<div class="tec_chunk clearfix">
					<div class="tec_text text_l">
						<div class="text_box">
							<p>泥工铺砖工艺</p>
							<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
								建其他原因引起地砖起拱；</p>
							<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
							<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
							<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
							<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
							<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="text_box">
							<p>一、弹施工水平线</p>
							<p>1、弹施工水平线：确定标高±0.00点
								全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
								置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

						</div>
					</div>
					<div class="tec_img"><img src="../../img/technology_sg_img6.jpg"></div>
				</div>
				<div class="chunk_last">
					<div class="text_box">
						<p>泥工铺砖工艺</p>
						<p>1、预留下脚一块，到最后铺贴。墙砖压地砖，美观并且避免缝隙渗水，避免原
							建其他原因引起地砖起拱；</p>
						<p>2、碰阳角处两块砖磨45度角，碰角成90度；</p>
						<p>3、靠墙角处最小的砖不能少于10cm。墙砖铺贴时进行排版，美观大方；</p>
						<p>4、侧面墙砖压正面砖铺法，入门处看不到阴角缝，美观大方；</p>
						<p>5、最上方的一排砖须灌实抹成45度斜边；</p>
						<p>6、墙面垂直、转角处成90度，缝隙均匀、清晰；</p>
					</div>
					<div class="text_box">
						<p>一、弹施工水平线</p>
						<p>1、弹施工水平线：确定标高±0.00点
							全房各区域水平线在一个水平面上。在墙面用钢卷尺量出1000mm高的位
							置，用红外线水平仪沿1000mm位置投射光影，沿四周墙面投影，用墨斗弹</p>

					</div>
				</div>
			</div>
			<div class="tab_content">6</div>
			<div class="tab_content">7</div>
			<div class="tab_content">8</div>
		</div>
	</div>
</div>


@@include('../common/page_btm_fixed.html')


</body>
</html>