<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <!--顶部banner-->
    <section class="page_banner_box">
        <img width="100%" height="100%" src="../../img/index_banner_img.jpg">
    </section>
    <section class="page_menu_nav_box">
        <div class="nav_box">
            <a class="a_nav_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/icons/index_menu_bg1.png">
                </div>
                <h2 class="name">私人定制</h2>
                <p class="note_text">设计师1对1服务</p>
            </a>
            <a class="a_nav_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/icons/index_menu_bg2.png">
                </div>
                <h2 class="name">别墅装修</h2>
                <p class="note_text">专业别墅缔造专家</p>
            </a>
            <a class="a_nav_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/icons/index_menu_bg3.png">
                </div>
                <h2 class="name">快速报价</h2>
                <p class="note_text">30秒生成报价结果</p>
            </a>
        </div>
        <div class="nav_list_box">
            <a class="a_list_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/index_list_menu_img1.jpg">
                </div>
                <div class="right_text_box">
                    <h2 class="title">旧房翻新</h2>
                    <p class="text">二手房、旧房、老房、装修</p>
                </div>
            </a>
            <a class="a_list_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/index_list_menu_img2.jpg">
                </div>
                <div class="right_text_box">
                    <h2 class="title">装修贷款</h2>
                    <p class="text">贷款无忧</p>
                    <p class="text">轻松装修</p>
                </div>
            </a>
            <a class="a_list_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/index_list_menu_img3.jpg">
                </div>
                <div class="right_text_box">
                    <h2 class="title">案例分析</h2>
                    <p class="text">参考每一步设计</p>
                </div>
            </a>
            <a class="a_list_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/index_list_menu_img4.jpg">
                </div>
                <div class="right_text_box">
                    <h2 class="title">在建工地</h2>
                    <p class="text">真实工地</p>
                    <p class="text">眼见为实</p>
                </div>
            </a>
        </div>
        <div class="btm_banner_box">
            <div class="left_content_box">
                <h2 class="title">一站式整装服务</h2>
                <p class="text">包量房 包材料 包施工 包售后</p>
                <p class="text">从毛坯到硬装 全程托管无负担</p>
            </div>
            <div class="right_img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/index_banner_img1.jpg">
            </div>
        </div>
        <!--表单-->
        <div class="form_box">
            <form class="form">
                <h1 class="title">私人户型定制设计</h1>
                <div class="form_input">
                    <i class="input_bg one"></i>
                    <input class="input" type="text" placeholder="您的称呼">
                </div>
                <div class="form_input two">
                    <i class="input_bg two"></i>
                    <input class="input" type="text" placeholder="您的手机号码">
                </div>
                <div class="form_input">
                    <i class="input_bg three"></i>
                    <input class="input" type="text" placeholder="建筑面积">
                    <em>m2</em>
                </div>
                <div class="form_input">
                    <i class="input_bg four"></i>
                    <select class="select">
                        <option>装修预算</option>
                        <option>宁波市</option>
                        <option>上海市</option>
                        <option>苏州市</option>
                        <option>南京市</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="form_input">
                    <i class="input_bg fix"></i>
                    <select class="select">
                        <option>您的房屋所在城市</option>
                        <option>宁波市</option>
                        <option>上海市</option>
                        <option>苏州市</option>
                        <option>南京市</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
            </form>
            <p class="form_note_text"><span>*</span>我们严格保护个人隐私信息！</p>
            <button class="apply_btn">立即申请免费设计</button>
        </div>
    </section>
    <section class="page_case_box">
        <div class="case_content_box">
            <header class="header_title">
                <i class="top_bg"></i>
                <h3 class="title">装修案例精选</h3>
                <a class="more_text">更多案例>></a>
            </header>
            <div class="case_list_box">
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
            </div>
        </div>
    </section>
    <section class="page_brank_box">
        <div class="brank_content_box">
            <header class="header_title">
                <i class="top_bg"></i>
                <h3 class="title">装修案例精选<span>行业动态  装修百科  装修问答</span></h3>
                <a class="more_text">更多案例>></a>
            </header>
            <div class="brank_container">
                <div class="brank_list_box">
                    <a class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/index_brank_img.jpg">
                        </div>
                        <div class="right_text_box">
                            <h2 class="title">如何正确选择超滤净水器和水龙头净水
                                器，它们有说明区别</h2>
                            <div class="text_box">
                                <p class="p_text left">装修百科</p>
                                <p class="p_text right">浏览次数：1328</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="brank_list_box">
                    <a class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/index_brank_img.jpg">
                        </div>
                        <div class="right_text_box">
                            <h2 class="title">如何正确选择超滤净水器和水龙头净水
                                器，它们有说明区别</h2>
                            <div class="text_box">
                                <p class="p_text left">装修百科</p>
                                <p class="p_text right">浏览次数：1328</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="brank_list_box">
                    <a class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/index_brank_img.jpg">
                        </div>
                        <div class="right_text_box">
                            <h2 class="title">如何正确选择超滤净水器和水龙头净水
                                器，它们有说明区别</h2>
                            <div class="text_box">
                                <p class="p_text left">装修百科</p>
                                <p class="p_text right">浏览次数：1328</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="brank_list_box">
                    <a class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/index_brank_img.jpg">
                        </div>
                        <div class="right_text_box">
                            <h2 class="title">如何正确选择超滤净水器和水龙头净水
                                器，它们有说明区别</h2>
                            <div class="text_box">
                                <p class="p_text left">装修百科</p>
                                <p class="p_text right">浏览次数：1328</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="brank_list_box">
                    <a class="list_box">
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/index_brank_img.jpg">
                        </div>
                        <div class="right_text_box">
                            <h2 class="title">如何正确选择超滤净水器和水龙头净水
                                器，它们有说明区别</h2>
                            <div class="text_box">
                                <p class="p_text left">装修百科</p>
                                <p class="p_text right">浏览次数：1328</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="page_case_box">
        <div class="case_content_box">
            <header class="header_title">
                <i class="top_bg"></i>
                <h3 class="title">VR全景效果</h3>
                <a class="more_text">更多VR>></a>
            </header>
            <div class="case_list_box">
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
                <a class="case_list">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/index_case_img.jpg">
                    <p class="text">岭南天地4座蔡生现代新房住岭南天地4座蔡生现代新房住</p>
                </a>
            </div>
        </div>
    </section>
    <section class="page_btm_content_box">
        <div class="pos">
            <p class="text">Copyright(C)hantuzs.com  版权所有</p>
            <p class="text">佛山市瀚图装饰设计工程有限公司</p>
            <p class="text">粤ICP备14078104号-1</p>
        </div>
    </section>
</section>
@@include('../common/page_footer.html')
</body>
</html>