<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="../../bin/rem.js"></script>
<link rel="shortcut icon" href="/mStatic/user_ico.ico"><link href="/mStatic/css/index\index.css?513f7e0cc3863198d2a0" rel="stylesheet"></head>
<body>
<div class="xiaojun">xiaojun</div>
<script type="text/javascript" src="/mStatic/js/index\index.js?513f7e0cc3863198d2a0"></script></body>
</html>