@import "../../common/init.less";
@import "../../common/template/page_header.less";
@import "../../common/template/page_footer.less";

body{
  background:#f7f7f7;
}
.page_max_width{
  width:7.5rem;
  max-width:7.5rem;
  margin:0.88rem auto 0 auto;
}

.page_banner_box{
  width:100%;
  height:6.4rem;
  font-size:0;
}

.page_form_box{
  width:100%;
  padding:0 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#fff;
  padding-bottom:0.4rem;
  padding-top:0.5rem;
  .title_box{
    position: relative;
    width:7.1rem;
    margin:0 auto 0.3rem auto;
    .title{
      width:100%;
      text-align: center;
      font-size:0.24rem;
      color:#333;
    }
    .line{
      position: absolute;
      top:50%;
      -webkit-transform: translate(0,-50%);
      -moz-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
      -o-transform: translate(0,-50%);
      transform: translate(0,-50%);
      width:2.35rem;
      height:1px;
      background:#e6e6e6;
    }
    .left{
      left:0;
    }
    .right{
      right:0;
    }
  }
  .offer_top_img{
    width:7.14rem;
    height:2.13rem;
    margin:0 auto 0.27rem auto;
    font-size:0;
  }
  .form{
    width:100%;
    .select_box{
      width:100%;
      font-size:0;
      margin-bottom:0.2rem;
      .clean{
        clear: both;
      }
    }
    .form_select{
      position: relative;
      float:left;
      width:3.4rem;
      padding:0.19rem 0;
      background:#f7f7f7;
      border:#cccccc 1px solid;
      select{
        width:100%;
        font-size:0.26rem;
        color:#333;
        border:none;
        background:rgba(0,0,0,0);
        outline: none;
        padding:0 0.4rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .down_icon{
        .box_right_position(0.2rem);
        width:0.2rem;
        height:0.1rem;
        background:url('../../../img/icons/down_bg.png') no-repeat;
        background-size:contain;
      }
    }
    .form_select.small{
      width:25%;
      float:left;
      border:none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      select{
        border-right:#e2e2e2 1px solid;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      select.four{
        border-right:none;
      }
    }
    .form_select.left{
      float:left;
    }
    .form_select.right{
      float:right;
    }

    .form_input{
      position: relative;
      width:100%;
      padding:0.19rem 0;
      background:#f7f7f7;
      border:#cccccc 1px solid;
      margin-bottom:12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow:hidden;
      font-size:0;
      input{
        display:block;
        width:100%;
        height:0.5rem;
        line-height:0.5rem;
        font-size:0.26rem;
        color:#333;
        padding-left:0.4rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .input_placeholder(0.26rem,#999);
      em{
        display:inline-block;
        .box_right_position(0.2rem);
        font-size:0.26rem;
        color:#333;
      }
      .decoration-type{
        position: relative;
        float:left;
        display:inline-block;
        width:1.2rem;
        top:0;
        left:0.06rem;
        margin-left:0.3rem;
        padding-left:0.4rem;
        font-size:0.26rem;
        color:#333;
        i{
          position: absolute;
          top:50%;
          -webkit-transform: translate(0,-50%);
          -moz-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          -o-transform: translate(0,-50%);
          transform: translate(0,-50%);
          left:0;
          width:0.26rem;
          height:0.26rem;
          background:url('../../../img/icons/calc_bg.png') no-repeat;
          background-size:cover;
        }
      }
      .decoration-type.active{
        i{
          background:url('../../../img/icons/calc_active_bg.png') no-repeat;
          background-size:cover;
        }
      }
    }
    .form_input:last-child{
      margin-bottom:0;
    }
  }
  .scroll_text_box{
    width:100%;
    height:1.6rem;
    overflow:hidden;
    text-align: center;
    margin:0.3rem auto;
    .scroll_ul{
      position: relative;
      width:100%;
      li{
        width:100%;
        height:0.4rem;
        line-height:0.4rem;
        font-size:0.22rem;
        color:#999;
      }
    }
  }
  .apply_loan_btn{
    display:block;
    width:100%;
    text-align: center;
    height:0.88rem;
    line-height:0.88rem;
    font-size:0.32rem;
    color:@main;
    background:#000;
    border-radius:0.06rem;
    margin-top:0.2rem;
  }
  .tel_box{
    width:100%;
    overflow:hidden;
    margin-top:0.53rem;
    .left_tel{
      float:left;
      width:4.7rem;
      height:0.6rem;
      line-height:0.6rem;
      background:#f7f7f7;
      font-size:0.26rem;
      color:#333;
      padding-left:0.14rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      span{
        color:@main;
        font-size:0.32rem;
        font-weight:bold;
        margin-left:0.12rem;
      }
    }
    .right_tel{
      float:left;
      display:block;
      width:2.4rem;
      height:0.6rem;
      line-height:0.6rem;
      text-align: center;
      font-size:0.24rem;
      color:@main;
      background:#000;
      border-radius:0.04rem;
    }
  }
}

.page_btm_scroll_box{
  width:100%;
  background:#333;
  margin-top:0.3rem;
  padding:0.44rem 0;
  .title{
    width:100%;
    font-size:0.26rem;
    text-align: center;
    color:#fff;
    margin-bottom:0.38rem;
    span{
      color:@main;
      margin:0 0.04rem;
    }
  }
  .scroll_text_box{
    width:100%;
    height:2rem;
    margin:0 auto;
    overflow:hidden;
    .scroll_ul{
      position: relative;
      li{
        position: relative;
        width:100%;
        font-size:0.22rem;
        color:#fff;
        height:0.4rem;
        text-align: center;
        line-height:0.4rem;
        padding-left:0.3rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        span{
          position: relative;
        }
        i{
          display:block;
          .box_left_position(-0.3rem);
          width:0.2rem;
          height:0.24rem;
          background:url('../../../img/icons/ren.png') no-repeat;
          background-size:cover;
        }
      }
    }
  }
  .text{
    width:100%;
    font-size:0.34rem;
    color:@main;
    text-align: center;
    margin-top:0.6rem;
    margin-bottom:0.16rem;
  }
  .note_text{
    width:100%;
    text-align: center;
    font-size:0.24rem;
    color:#999;
  }
}