@import "../../common/init.less";
@import "../../common/template/page_header.less";
@import "../../common/template/page_footer.less";

body{
  background:#f7f7f7;
}
.page_max_width{
  width:7.5rem;
  max-width:7.5rem;
  margin:0.88rem auto 0 auto;
}