<div class="side_ranking">
	<h3 class="side_head">设计师排行榜</h3>
	<div class="sr_box">
		<ul class="ranking_ul">
			<li class="list">
				<span class="sr_num">1.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/case_img.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">1923套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">2.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">133套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">3.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span >
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">4.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">5.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">6.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">23套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">7.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">33套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">8.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">9.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
			<li class="list">
				<span class="sr_num">10.</span>
				<span class="sr_photo"><img class="lazy" width="100%" height="100%" data-src="../../img/ranking_photo.jpg"></span>
				<span class="sr_name">陈家豪</span>
				<span class="sr_text">已成交</span>
				<span class="sr_text">193套</span>
				<div class="ranking_up"></div>
			</li>
		</ul>
	</div>
</div>