<div class="side_appoint">
	<h4 class="sa_title">预约设计师免费出方案</h4>
	<p class="sa_note">一键预约，设计师上门服务</p>
	<div class="sa_box">
		<div class="select_box sa_select">
			<p class="val">装修类型</p>
			<i class="down_bg"></i>
			<ul class="select_menu_box">
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
				<li>装修类型</li>
			</ul>
		</div>
		<input type="text" class="sa_input" name="" id="" value="" placeholder="输入您的电话号码" />
		<textarea class="sa_textarea" placeholder="您可以备注想要的装修风格"></textarea>
		<p class="sa_tips">还可以输入<span>120</span>个字</p>
		<button class="sa_btn">免费申请</button>
	</div>
	<div class="sa_order scroll_text">
		<ul class="sa_order_ul">
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
			<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
		</ul>
	</div>
</div>