<div class="page_nav_box" style=@@style>
    <div class="nav_content">
        <div class="img_box"><img width="100%" height="100%" src="../../img/company_logo.jpg"></div>
        <div class="nav_box">
            <a class="nav_a @@if(context.index ==='active'){active}">首页</a>
            <a class="nav_a @@if(context.design === 'active'){active}">设计报价</a>
            <a class="nav_a @@if(context.team === 'active'){active}">装修团队</a>
            <a class="nav_a @@if(context.site === 'active'){active}">装修工地</a>
            <a class="nav_a @@if(context.technology === 'active'){active}">材料工艺</a>
            <a class="nav_a @@if(context.raiders === 'active'){active}">装修攻略</a>
            <a class="nav_a @@if(context.discount === 'active'){active}">装修优惠</a>
            <a class="nav_a @@if(context.brief === 'active'){active}">走进瀚图</a>
        </div>
    </div>
</div>