<!--底部fixed-->
<div class="page_btm_fixed">
    <div class="fixed_content_box">
        <div class="logo">
        </div>
        <div class="bg_img"></div>
        <div class="form_box">
            <div class="form_input">
                <div class="input_box">
                    <input type="text" placeholder="您的姓名">
                </div>
                <div class="input_box">
                    <input type="text" placeholder="电话号码">
                </div>
            </div>
            <button class="offer_btn">获取精准报价</button>
        </div>
        <div class="close_btn"></div>
    </div>
</div>
