@import "../../common/init.less";
@import "../../common/template/page_nav.less";
@import "../../page/index/common/index_content_header.less";

.page_wrapper{
  width:100%;
  padding-top:78px;
  .content_box{
    width:1200px;
    margin:0 auto;
  }
}
/*菜单导航*/
.page_menu_box{
  width:1200px;
  height:188px;
  margin:65px auto;
  .menu_list{
    width:100%;
    overflow:hidden;
    .list{
      position: relative;
      float:left;
      display:block;
      width:188px;
      height:188px;
      background:#fff;
      margin-right:14px;
      text-align: center;
      .pos{
        .box_position();
      }
      .menu_icon{
        width:80px;
        height:80px;
        margin:0 auto;
      }
      .mflf{
        background:url('../../../img/icons/index_menu_mflf.png') no-repeat;
      }
      .xfzx{
        background:url('../../../img/icons/index_menu_xfzx.png') no-repeat;
      }
      .mfbj{
        background:url('../../../img/icons/index_menu_mfbj.png') no-repeat;
      }
      .bszx{
        background:url('../../../img/icons/index_menu_bszx.png') no-repeat;
      }
      .jffx{
        background:url('../../../img/icons/index_menu_jffx.png') no-repeat;
      }
      .zztz{
        background:url('../../../img/icons/index_menu_zztz.png') no-repeat;
      }
      .menu_text{
        margin-top:19px;
        font-size:16px;
        color:@color6;
      }
    }
    .list:hover{
      .mflf{
        background:url('../../../img/icons/index_menu_mflf_active.png') no-repeat;
      }
      .xfzx{
        background:url('../../../img/icons/index_menu_xfzx_active.png') no-repeat;
      }
      .mfbj{
        background:url('../../../img/icons/index_menu_mfbj_active.png') no-repeat;
      }
      .bszx{
        background:url('../../../img/icons/index_menu_bszx_active.png') no-repeat;
      }
      .jffx{
        background:url('../../../img/icons/index_menu_jffx_active.png') no-repeat;
      }
      .zztz{
        background:url('../../../img/icons/index_menu_zztz_active.png') no-repeat;
      }
      .menu_text{
        color:@main;
      }
    }
    .list:last-child{
      margin-right:0;
    }
  }
}

/*轮播*/
.page_top_carousel_box{
  width:1920px;
  height:640px;
  font-size:0;
  position: relative;
  left:50%;
  margin-left:-960px;
  overflow:hidden;
  .carousel_ul{
    position: relative;
    width:100%;
    overflow:hidden;
    .carousel_li{
      float:left;
      width:1920px;
      height:640px;
      font-size:0;
    }
  }
  .indicator{
    width:100%;
    position: absolute;
    left:0px;
    bottom:20px;
    text-align: center;
    span{
      display:inline-block;
      width:40px;
      height:3px;
      background:rgba(255,255,255,0.6);
      margin:0 10px;
    }
    span.active{
      background:#9d8a40;
    }
  }
}

/*装修案例*/
.page_case_box{
  .page_wrapper;
  padding-bottom:80px;
  background:#fff;
  .case_img_box{
      width:1200px;
      overflow:hidden;
      margin:0 auto;
      @margin:12px;
      .img_note_text{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        font-size:16px;
        color:#fff;
        height:60px;
        line-height:60px;
        text-align: center;
        background:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,1));
        background:-webkit-linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,1));
      }
      .left_img_box{
        float:left;
        width:796px;
        .big_img_box{
          position: relative;
          width:100%;
          height:480px;
          margin-bottom:@margin;
          font-size:0;
        }
        .small_img_box{
          width:100%;
          height:240px;
          font-size:0;
          .img_box{
            position: relative;
            float:left;
            width:392px;
            height:240px;
            font-size:0;
            margin-right:@margin;
          }
          .img_box:last-child{
            margin-right:0;
          }
        }
      }
      .right_img_box{
        float:right;
        width:392px;
        .big_img_box{
          position: relative;
          width:100%;
          height:480px;
          font-size:0;
          margin-bottom:@margin;
        }
        .small_img_box{
          position: relative;
          width:100%;
          height:240px;
          font-size:0;
        }
      }
    }

}
/*装修计算*/
.page_calc_box{
  position: relative;
  width:1920px;
  height:757px;
  left:50%;
  margin-left:-960px;
  font-size:0;
  .calc_content_box{
    position: absolute;
    left:50%;
    top:280px;
    width:1000px;
    height:414px;
    background:#fff;
    margin-left:-500px;
    .form_box{
      width:368px;
      padding-top:54px;
      margin-left:38px;
      .header_title{
        width:100%;
        font-size:20px;
        color:@color3;
        .note_tit{
          font-size:12px;
          color:#ef2525;
          margin-left:15px;
          em{
            margin:0 7px;
          }
        }
      }
    }
  }
}
/*装修工地*/
.page_site_box{
  .page_wrapper;
}

/*VR动态*/
.page_dynamic_box{
  .page_wrapper;
  background:#fff;
  .dynamic_img_box{
      width:100%;
      overflow:hidden;
      .left_img_box{
        position: relative;
        float:left;
        width:580px;
        height:440px;
        font-size:0;
      }
      .right_img_box{
        float:left;
        width:290px;
        margin-left:20px;
        .img_box{
          position: relative;
          width:100%;
          height:210px;
          margin-bottom:20px;
          .img_note_text{
            .box_position();
            width:180px;
            height:120px;
            background:rgba(255,255,255,0.8);
            padding-top:10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .text_content{
              position: relative;
              width:158px;
              height:98px;
              border:@main 1px solid;
              margin:0 auto;
              .pos{
                .box_position();
                width:100%;
                text-align: center;
                .tit{
                  font-size:22px;
                  color:@main;
                }
                .eng{
                  font-size:14px;
                  color:#333;
                  margin-top:10px;
                  font-weight:bold;
                  span{
                    font-weight:normal;
                    margin:0 6px;
                  }
                }
              }
            }
          }
        }
      }
    }

}

/*精英团队*/
.page_team_box{
  .page_wrapper;
  padding-bottom:80px;
  .team_content_box{
    width:100%;
    .team_btn_box{
      width:100%;
      text-align: center;
      overflow:hidden;
      font-size:0;
      .tab_btn{
        display:inline-block;
        width:120px;
        height:42px;
        line-height:42px;
        border:#ebebeb 1px solid;
        border-right:none;
        font-size:16px;
        color:#666;
        background:#fff;
        cursor: pointer;
      }
      .tab_btn.active{
        color:@main;
      }
      .tab_btn:last-child{
        border-right:#ebebeb 1px solid;
      }
    }
    .list_content_box{
      width:100%;
      margin-top:30px;
      .tab_content{
        position: relative;
        width:100%;
        height:457px;
        .hidden_box{
          width:100%;
          height:100%;
          overflow: hidden;
        }
        .carousel_ul{
          position: relative;
          overflow: hidden;
          li{
            float:left;
            width:285px;
            height:457px;
            margin-right:20px;
            background:#fff;
            .img_box{
              width:100%;
              height:380px;
              font-size:0;
            }
            .img_text{
              position: relative;
              width:100%;
              height:77px;
              border:#e6e6e6 1px solid;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              border-top:none;
              .pos{
                width:100%;
                .box_left_position(18px);
                .name{
                  font-size:16px;
                  color:@color3;
                }
                .note_text{
                  font-size:14px;
                  color:@color9;
                  margin-top:6px;
                }
              }
            }
          }
        }
        .btn{
          position: absolute;
          top:140px;
          width:52px;
          height:100px;
          cursor: pointer;
        }
        .prev_btn{
          .btn;
          left:-84px;
          background:url('../../../img/icons/index_team_prev_bg.png') no-repeat;
        }
        .next_btn{
          .btn;
          right:-84px;
          background:url('../../../img/icons/index_team_next_bg.png') no-repeat;
        }
      }
    }
  }
}
/*客户见证*/
.page_witness_box{
  .page_wrapper;
  background:#fff;
  padding-bottom:80px;
  .header_box{
    width:100%;
    text-align: center;
    font-size:36px;
    color:#000;
    margin-bottom:77px;
    span{
      color:@main;
      margin:0 5px;
    }
  }
  .witness_list_box{
    margin-right:-12px;
    overflow:hidden;
    .img_list{
      float:left;
      width:392px;
      height:260px;
      font-size:0;
      margin-right:12px;
    }
  }
  .interlocution_box{
    margin-right:-15px;
    overflow:hidden;
    margin-top:82px;
    .inter_box{
      float:left;
      width:390px;
      margin-right:15px;
      border:#e6e6e6 1px solid;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .header_title{
        width:100%;
        height:59px;
        line-height:59px;
        background:#f5f5f5;
        border-bottom:#e6e6e6 1px solid;
        padding:0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        i{
          .box_left_position(0);
          display:block;
        }
        .wd_bg{
          width:28px;
          height:22px;
          background:url('../../../img/icons/index_wd_title_bg.png') no-repeat;
          background-size:contain;
        }
        .zx_bg{
          width:26px;
          height:30px;
          background:url('../../../img/icons/index_zx_title_bg.png') no-repeat;
          background-size:contain;
        }
        .hy_bg{
          width:30px;
          height:30px;
          background:url('../../../img/icons/index_hy_title_bg.png') no-repeat;
          background-size:contain;
        }
        .title{
          position: relative;
          float:left;
          width:50%;
          font-size:18px;
          color:@color3;
          padding-left:42px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .more_btn{
          float:left;
          width:50%;
          text-align: right;
          font-size:14px;
          color:@main;
        }
      }
      .scroll_content{
        max-height:420px;
        overflow-y:scroll;
      }
      .content_box{
        width:100%;
        padding:19px;
        height:420px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .content_list{
          width:100%;
          margin-bottom:20px;
          .in_list{
            width:100%;
            overflow:hidden;
            margin-bottom:8px;
            .zm{
              float:Left;
              width:20px;
              height:20px;
              line-height:20px;
              text-align: center;
              border-radius:2px;
              color:#fff;
              font-size:14px;
            }
            .w{
              background:#000;
            }
            .d{
              background:@main;
            }
            .text{
              float:left;
              margin-left:12px;
              width:298px;
              font-size:14px;
              color:@color3;
            }
          }
          .in_list:last-child{
            margin-bottom:0;
          }
          .l_more_btn{
            font-size:14px;
            color:@main;
            margin-left:32px;
          }
        }
        .content_list:last-child{
          margin-bottom:0;
        }
        .img_box{
          width:352px;
          height:180px;
          font-size:0;
        }
        .text_list_box{
          width:100%;
          .text_list{
            width:100%;
            overflow:hidden;
            margin-top:14px;
          }
          .p_title{
            position: relative;
            float:left;
            width:200px;
            .text_hidden();
            font-size:14px;
            color:@color3;
            padding-left:18px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .spot{
              display:inline-block;
              .box_left_position(0);
              width:6px;
              height:6px;
              background:#000;
              border-radius:50%;
            }
          }
          .time{
            float:right;
            width:100px;
            text-align: right;
            font-size:14px;
            color:@color3;
          }
        }
      }
    }
  }
}
/*合作伙伴*/
.page_partner_box{
  .page_wrapper;
  padding-bottom:80px;
  .partner_list_box{
    margin-right:-20px;
    overflow:hidden;
    .list{
      float:left;
      float:left;
      display:block;
      width:224px;
      height:100px;
      margin-right:20px;
      margin-bottom:20px;
    }
  }
}

