<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>走进翰图</title>
</head>
<body>
@@include('../common/page_nav.html',{"brief":"active"})
<div class="page_about_banner">
	<div class="content_box">
		<div class="banner">
			<img class="lazy" data-src="../../img/about_banner.jpg" width="100%" height="100%">
		</div>
	</div>
</div>

<!-- 正文 -->
<div class="page_about_box">
	<div class="content_box">
		<div class="crumbs">
			<span>当前位置：</span><a href="">首页</a>&gt;<a href="">走进翰图</a>&gt;<span>翰图简介</span>
		</div>
		<div class="container">
			<div class="tab_box clearfix">
				<div class="about_tab_box">
					<div class="tab_btn active"><i class="icon htjj"></i>翰图简介<i class="arrow"></i></div>
					<div class="tab_btn"><i class="icon htdt"></i>翰图动态<i class="arrow"></i></div>
					<div class="tab_btn"><i class="icon htzp"></i>翰图招聘<i class="arrow"></i></div>
					<div class="tab_btn"><i class="icon wysh"></i>无忧售后<i class="arrow"></i></div>
					<div class="tab_btn"><i class="icon lxht"></i>联系翰图<i class="arrow"></i></div>
				</div>
				<div class="about_content_box">
					<div class="tab_content">
					1
					</div>
					<div class="tab_content">
					2
					</div>
					<div class="tab_content">
					3
					</div>
					<div class="tab_content">
					4
					</div>
					<div class="tab_content">
					5
					</div>
				</div>
			</div>
			<!-- 侧栏 -->
			<div class="about_side">
				<!-- 预约瀚图抢先装修 -->
				<div class="about_appoint">
					<h3 class="appoint_head">预约瀚图抢先装修</h3>
					<p class="appoint_note">设计师1对1服务</p>
					<div class="input"><input type="text" name="" placeholder="请输入您的称呼"></div>
					<div class="input"><input type="text" name="" placeholder="请输入您的电话"></div>
					<div class="input"><input type="text" name="" placeholder="请输入楼盘名称"></div>
					<div class="input"><input type="text" name="" placeholder="装修面积"><span class="unit">m²</span></div>
					<button class="appoint_submit">立即预约</button>
				</div>
				<!-- 点击获取精准报价 -->
				<div class="about_offer">
					<img src="../../img/about_offer_bg.jpg" width="100%" height="100%">
					<a class="offer" href="">点击获取精准报价</a>
				</div>
				<!-- 热门优惠活动 -->
				<div class="about_promotion">
					<h3 class="promotion_head">热门优惠活动</h3>
					<div class="promotion_box">
						<div class="promotion_a">
							<a class="" href=""><img class="lazy" data-src="../../img/about_promotion_bg.jpg" width="100%" height="100%"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






</body>
</html>