<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装修案例</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <section class="page_nav_box tab_box">
        <div class="mask_box"></div>
        <nav class="nav_container">
            <div class="nav_box tab_btn">
                户型<i class="down_bg"></i>
            </div>
            <div class="nav_box tab_btn">
                风格<i class="down_bg"></i>
            </div>
            <div class="nav_box tab_btn">
                预算<i class="down_bg"></i>
            </div>
            <div class="nav_box tab_btn">
                空间<i class="down_bg"></i>
            </div>
            <div class="clean"></div>
        </nav>
        <div class="nav_popup_box">
            <div class="tab_content">
                <a class="active" href="javascript:">不限1</a>
                <a href="javascript:">普通住宅</a>
                <a href="javascript:">三室</a>
                <a href="javascript:">四室</a>
                <a href="javascript:">别墅</a>
                <a href="javascript:">自建房</a>
                <a href="javascript:">旧房</a>
                <a href="javascript:">商业装修</a>
            </div>
            <div class="tab_content">
                <a class="active" href="javascript:">不限2</a>
                <a href="javascript:">普通住宅</a>
                <a href="javascript:">三室</a>
                <a href="javascript:">四室</a>
                <a href="javascript:">别墅</a>
                <a href="javascript:">自建房</a>
                <a href="javascript:">旧房</a>
                <a href="javascript:">商业装修</a>
            </div>
            <div class="tab_content">
                <a class="active" href="javascript:">不限3</a>
                <a href="javascript:">普通住宅</a>
                <a href="javascript:">三室</a>
                <a href="javascript:">四室</a>
                <a href="javascript:">别墅</a>
                <a href="javascript:">自建房</a>
                <a href="javascript:">旧房</a>
                <a href="javascript:">商业装修</a>
            </div>
            <div class="tab_content">
                <a class="active" href="javascript:">不限4</a>
                <a href="javascript:">普通住宅</a>
                <a href="javascript:">三室</a>
                <a href="javascript:">四室</a>
                <a href="javascript:">别墅</a>
                <a href="javascript:">自建房</a>
                <a href="javascript:">旧房</a>
                <a href="javascript:">商业装修</a>
            </div>
        </div>
        <!--筛选内容显示-->
        <section class="page_content_box">
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <div class="title">岭南天地4座蔡生现代</div>
            </div>
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <div class="title">岭南天地4座蔡生现代</div>
            </div>
            <div class="content_box">
                <div class="img_box">
                    <img width="100%" height="100%" src="../../img/case_img.jpg">
                </div>
                <div class="title">岭南天地4座蔡生现代</div>
            </div>
        </section>
    </section>
</section>

</body>
</html>