<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装修贷款</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <!--顶部banner-->
    <section class="page_banner_box">
        <img width="100%" height="100%" src="../../img/loan_banner_img.jpg">
    </section>
    <section class="page_form_box">
        <h1 class="title">30秒快速申请</h1>
        <form class="form">
            <div class="form_input">
                <input type="text" placeholder="输入您的姓名">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入您的手机号码">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入楼盘名称">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入面积">
                <em>m2</em>
            </div>
        </form>
        <p class="form_note_text"><span>*</span>我们严格保护您的个人信息隐私</p>
        <button class="apply_loan_btn">立即申请贷款</button>
    </section>
    <section class="loan_list_container">
        <h2 class="title">我们的审核特点</h2>
        <ul class="ul_box">
            <li class="li_box">
                <div class="img_box one"></div>
                <h2 class="name">选择多</h2>
                <p class="text">上千种精选金融产品</p>
            </li>
            <li class="li_box">
                <div class="img_box two"></div>
                <h2 class="name">审核快</h2>
                <p class="text">最快30分钟完成审批</p>
            </li>
            <li class="li_box">
                <div class="img_box three"></div>
                <h2 class="name">通过率高</h2>
                <p class="text">98%以上申请可通过</p>
            </li>
            <li class="li_box">
                <div class="img_box four"></div>
                <h2 class="name">一对一服务</h2>
                <p class="text">金融专员全程服务</p>
            </li>
        </ul>
    </section>
    <section class="problem_container">
        <h1 class="title">什么是装修贷款</h1>
        <div class="line"></div>
        <p class="text">装修贷款是无担保个人信用贷款的主要用途之一，是专
            为准备装修的工薪人士发放的个人信用贷款，用于房屋
            装修相关的支出。无需担保，无需抵押物，以其每月均
            收入作为贷款金额判断依据，最高可贷50万。</p>
        <p class="text">装修贷款，让您装修不再束手束脚，打造舒适的温馨家
            园！</p>
    </section>
    <section class="loan_list_container">
        <h2 class="title">装修贷款的产品特色</h2>
        <ul class="ul_box">
            <li class="li_box">
                <div class="img_box fix"></div>
                <h2 class="name">无担保</h2>
                <p class="text text1">无需担保，您的
                    信用就是最好的
                    贷款通行证书！</p>
            </li>
            <li class="li_box">
                <div class="img_box six"></div>
                <h2 class="name">申请易</h2>
                <p class="text text1">电话或者网上申
                    请，您只需上门
                    一次！</p>
            </li>
            <li class="li_box">
                <div class="img_box seven"></div>
                <h2 class="name">放款快</h2>
                <p class="text text1">最快一天放款
                    邀您体验前所未
                    有的快捷服务！</p>
            </li>
            <li class="li_box">
                <div class="img_box eight"></div>
                <h2 class="name">可贷额度高</h2>
                <p class="text text1">最高可贷50万
                    额定高，房款快
                    急用钱首选</p>
            </li>
        </ul>
    </section>
</section>

</body>
</html>