<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>装修团队</title>
</head>
<body>
@@include('../common/page_nav.html',{"team":"active"})
<div class="page_team_banner">
	<div class="content_box">
		<div class="team_banner">
			<img class="lazy" data-src="../../img/design_banner_bg.jpg" width="100%" height="100%" />
		</div>
	</div>
</div>
<!--团队导航-->
<div class="page_team_nav">
	<div class="content_box">
		<div class="crumbs">
			<span>当前位置：</span><a href="">首页</a>&gt;<span>设计团队</span>
		</div>
		<div class="groups">
			<div class="group_row clearfix">
				<div class="group_title">所在区域</div>
				<div class="group_item">
					<a href="#" class="group_list active">不限</a>
					<a href="#" class="group_list">顺德区</a>
					<a href="#" class="group_list">南海区</a>
					<a href="#" class="group_list">三水区</a>
					<a href="#" class="group_list">高明区</a>
				</div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">工作年限</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">1-2年</a>
					<a href="#" class="group_list">2-3年</a>
					<a href="#" class="group_list">3-5年</a>
					<a href="#" class="group_list">5-8年</a>
				</div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">擅长风格</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">现代简约</a>
					<a href="#" class="group_list">简约</a>
					<a href="#" class="group_list">美式</a>
					<a href="#" class="group_list">新中式</a>
					<a href="#" class="group_list">后代式</a>
					<a href="#" class="group_list">欧式</a>
					<a href="#" class="group_list">简欧</a>
					<a href="#" class="group_list">中式</a>
				</div>
				<div class="group_open">展开<span class="open_arrow"></span></div>
			</div>
			<div class="group_row clearfix">
				<div class="group_title">擅长类型</div>
				<div class="group_item">
					<a href="#" class="group_list active">全部</a>
					<a href="#" class="group_list">普通住宅</a>
					<a href="#" class="group_list">别墅</a>
					<a href="#" class="group_list">旧房</a>
					<a href="#" class="group_list">公寓</a>
				</div>
			</div>
		</div>
		<div class="appoint_box clearfix">
			<div class="appoint_line"></div>
			<div class="appoint_input"><input type="text" name="" id="" value="" placeholder="您的称呼"/></div>
			<div class="appoint_input"><input type="text" name="" id="" value="" placeholder="联系电话"/></div>
			<div class="appoint_input"><input type="text" name="" id="" value="" placeholder="楼盘名称"/></div>
			<div class="appoint_input"><input type="text" name="" id="" value="" placeholder="建筑面积"/><span class="unit">m2</span></div>
			<button class="appoint_btn">预约设计师</button>
		</div>
	</div>
</div>

<!--团队正文-->
<div class="page_main_box">
	<div class="content_box clearfix">
		<div class="main_box">
			
		</div>
		<div class="side_box">
			<!--预约设计师免费出方案-->
			<div class="side_appoint">
				<h4 class="sa_title">预约设计师免费出方案</h4>
				<p class="sa_note">一键预约，设计师上门服务</p>
				<div class="sa_box">
					<select class="sa_select" name="">
						<option value="">装修类型</option>
					</select>
					<input type="text" class="sa_input" name="" id="" value="" placeholder="输入您的电话号码"/>
					<textarea class="sa_textarea" placeholder="您可以备注想要的装修风格"></textarea>
					<p class="sa_tips">还可以输入<span>120</span>个字</p>
					<button class="sa_btn">免费申请</button>
				</div>
				<div class="sa_order">
					<ul class="sa_order_ul">
						<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
						<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
						<li class="list"><span class="time_color">42分钟前</span>刘女士139****发布订单</li>
					</ul>
				</div>
			</div>
			<!--精选设计作品-->
			<div class="boutique_box">
				<h3 class="side_head">精选设计作品</h3>
				<div class="boutique_inner">
					<div class="boutique">
						<img class="lazy" data-src="../../img/boutique_pic.jpg" width="100%" height="100%"/>
						<p class="boutique_p">梅江东苑美式普通住宅装修设计</p>
					</div>
					<div class="boutique">
						<img class="lazy" data-src="../../img/boutique_pic.jpg" width="100%" height="100%" />
						<p class="boutique_p">梅江东苑美式普通住宅装修设计</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



</body>
</html>
