<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>个人详情</title>
</head>
<body>
@@include('../common/page_nav.html',{"team":"active"})
<div class="page_archives_box">
	<div class="content_box">
		<div class="archives_box">
			<div class="archives_photo">
				<img src="../../img/main_photo.jpg" width="100%" height="100%"/>
			</div>
			<div class="archives">
				<h3 class="archives_head">设计师档案</h3>
				<div class="archives_text clearfix">
					<div class="information">
						<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>陈家浩
					</div>
					<div class="information">
						<span>工作年限：</span>10年以上
					</div>
					<div class="information">
						<span>擅长风格：</span>家装、工装
					</div>
					<div class="information">
						<span>作品数量：</span>130
					</div>
					<div class="idea">
						<span>设计理念：</span>设计的核心是一种创造行为，设计要求新、求异、求变、求不同
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 设计团队个人详情 -->
<div class="page_details_box">
	<div class="content_box">
		<div class="crumbs">
			<span>当前位置：</span><a href="">首页</a>&gt;<a href="">设计团队</a>&gt;<span>设计师陈家浩</span>
		</div>
		<div class="container">
			<div class="tab_box">
				<div class="details_tab_box clearfix">
					<div class="tab_btn active">作品案例</div>
					<div class="tab_btn">预约免费设计</div>
					<div class="tab_btn">到点了解</div>
					<div class="tab_btn">关于TA</div>
				</div>
				<div class="details_content_box">
					<div class="tab_content">
						<h3 class="case_title">陈家浩的作品（15套）</h3>
						<div class="cases clearfix">
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic1.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic2.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic3.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic4.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic1.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic2.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic3.jpg" width="100%" height="100%">
								</a>
							</div>
							<div class="case">
								<a href="">
									<img class="lazy" data-src="../../img/works_pic4.jpg" width="100%" height="100%">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="details_side">
				<!--预约设计师免费出方案-->
				@@include('./common/side_appoint.html')
				<!--设计师排行榜-->
				@@include('./common/side_ranking.html')
			</div>
		</div>
	</div>
</div>









</body>
</html>
