<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>个人详情</title>
</head>
<body>
@@include('../common/page_nav.html',{"team":"active"})
<div class="page_archives_box">
	<div class="content_box">
		<div class="archives_box">
			<div class="archives_photo">
				<img src="../../img/main_photo.jpg" width="100%" height="100%"/>
			</div>
			<div class="archives">
				<h3 class="archives_head">设计师档案</h3>
				<div class="archives_text clearfix">
					<div class="information">
						<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>陈家浩
					</div>
					<div class="information">
						<span>工作年限：</span>10年以上
					</div>
					<div class="information">
						<span>擅长风格：</span>家装、工装
					</div>
					<div class="information">
						<span>作品数量：</span>130
					</div>
					<div class="idea">
						<span>设计理念：</span>设计的核心是一种创造行为，设计要求新、求异、求变、求不同
					</div>
				</div>
			</div>
		</div>
	</div>
</div>











</body>
</html>
