<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例赏析详情</title>
</head>
<body>
@@include('../common/page_nav.html',{"raiders":"active","style":"background:#000"})
<div class="page_address_box">
    <div class="auto_box">
        <a>首页</a>> <a>案例赏析</a> > 星星凯旋国际15座04户型装修解析
    </div>
</div>
<div class="page_content_header_box">
    <div class="header_box">
    <h2 class="title">星星凯旋国际15座04户型装修解析</h2>
    <div class="note_title_box">
    <div class="time">2017-12-17 09:58:45 发布 来源：瀚图装饰</div>
    <div class="share_box">分享到：<span class="bg1"></span><span class="bg2"></span><span class="bg3"></span><span class="bg4"></span><span class="bg5"></span><span class="bg6"></span></div>
    </div>
    </div>
</div>
<div class="page_main_content_box">
    <div class="left_content_box">
        <div class="top_table_box">
            <ul class="table_ul">
                <li class="table_li">
                    <span class="label_title">案例风格</span>
                    <span class="label_val">新中式</span>
                </li>
                <li class="table_li">
                    <span class="label_title">案例户型</span>
                    <span class="label_val">复式</span>
                </li>
                <li class="table_li">
                    <span class="label_title">案例面积</span>
                    <span class="label_val">260</span>
                </li>
                <li class="table_li">
                    <span class="label_title">楼盘名称</span>
                    <span class="label_val">凯旋国际</span>
                </li>
                <li class="table_li">
                    <span class="label_title">所在地区</span>
                    <span class="label_val">佛山</span>
                </li>
                <li class="table_li">
                    <span class="label_title">案例造价</span>
                    <span class="label_val cus">立即咨询</span>
                </li>
            </ul>
        </div>
        <div class="p_text_box">
            <p><span class="tit">设计理念：</span>年前有很多开发商交房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季
                是不适合装修的，很多人都会等到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？</p>
            <img class="lazy" data-src="../../img/case_details_img.jpg">
            <p>年前有很多开发商交房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修
                的，很多人都会等到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？年前有很多开发商交
                房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修、的，很多人都会等
                到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？</p><br><br>
            <p>年前有很多开发商交房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修
                的，很多人都会等到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？</p>
            <img class="lazy" data-src="../../img/case_details_img.jpg">
            <p>年前有很多开发商交房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修
                的，很多人都会等到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？年前有很多开发商交
                房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修、的，很多人都会等
                到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？</p><br><br>
            <p>年前有很多开发商交房，眼看着房子到手了，却不能住进去，是不是很着急焦心？在传统观念中，冬季是不适合装修
                的，很多人都会等到来年春天再装修。这样就耽误了一个冬天，那年前到底适不适合装修呢？</p>
        </div>
        <div class="share_btm_box">
            <div class="share_icon_box">
                分享到：<span class="bg1"></span><span class="bg2"></span><span class="bg3"></span><span class="bg4"></span><span class="bg5"></span><span class="bg6"></span>
            </div>
            <div class="a_share_box">
                <a class="a_prev_text a_btn"><i class="san_bg"></i>上一篇解析：<span>果岭公馆1260㎡独栋别苏装修户型分析</span></a>
                <a class="a_next_text a_btn"><i class="san_bg"></i>下一篇解析：<span>果岭公馆1260㎡独栋别苏装修户型分析</span></a>
            </div>
        </div>
        <!--相关阅读-->
        <div class="related_reading_box">
            <div class="title_box"><span class="title">相关阅读</span></div>
            <div class="related_list_ul">
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
                <a class="related_list_li">
                    <p class="text">
                        <span class="spot"></span>
                        广州富力爱丁堡国际公寓现代美式189㎡装修户型分析
                    </p>
                    <p class="time">18:32:11</p>
                </a>
            </div>
        </div>
    </div>
    <!--右边侧边内容-->
    <div class="right_list_content">
        <div class="side_form_box">
            <div class="hb_bg"></div>
            <div class="form_box">
                <h2 class="title">免费户型设计</h2>
                <p class="note_text">提交您的信息专业家装顾问1对1服务</p>
                <div class="form_input_box">
                    <div class="input_box">
                        <input type="text" placeholder="您的姓名">
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="房屋面积">
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="你家楼盘名称">
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="手机号码">
                    </div>
                </div>
                <button class="apply_btn">立即免费申请</button>
                <div class="tel_box">
                    <p class="text">免费申请电话：<span>13XXXXXXXXX</span></p>
                    <p class="text">马上提交申请即送<span>1000</span>家装抵用券</p>
                </div>
            </div>
            <div class="scroll_text_box scroll_text">
                <ul class="scroll_ul">
                    <li><i class="spot">.</i>张** 137*****9提交预约信息1 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息2 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息3 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息4 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息5 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息6 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息7 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息8 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息9 [11/23]</li>
                    <li><i class="spot">.</i>张** 137*****9提交预约信息0 [11/23]</li>
                </ul>
            </div>
        </div>
        <a class="side_img_box">
            <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_img.jpg">
        </a>
        <!--侧边热装楼盘-->
        <div class="side_hot_outfit">
            <div class="header_title">
                <h2 class="title">热装案例赏析</h2>
                <a class="more_btn">更多>></a>
            </div>
            <div class="side_hot_list">
                <div class="side_list">
                    <div class="img_box">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                    </div>
                    <div class="text_box">
                        欢乐居140方简约风格装修解析
                    </div>
                </div>
                <div class="side_list">
                    <div class="img_box">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                    </div>
                    <div class="text_box">
                        欢乐居140方简约风格装修解析
                    </div>
                </div>
                <div class="side_list">
                    <div class="img_box">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                    </div>
                    <div class="text_box">
                        欢乐居140方简约风格装修解析
                    </div>
                </div>
                <div class="side_list">
                    <div class="img_box">
                        <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img.jpg">
                    </div>
                    <div class="text_box">
                        欢乐居140方简约风格装修解析
                    </div>
                </div>
            </div>
        </div>
        <!--侧边推荐案例-->
        <div class="side_hot_outfit">
            <div class="header_title">
                <h2 class="title">推荐案例</h2>
                <a class="more_btn">更多>></a>
            </div>
            <div class="img_a">
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
                <a class="case_img">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/hot_outfit_side_small_img2.jpg">
                </a>
            </div>
            <div class="label_box">
                <a>新古典</a>
                <a>港式</a>
                <a>北欧</a>
                <a>混搭</a>
                <a>地中海</a>
                <a>美式</a>
                <a>简美</a>
                <a>欧式</a>
                <a>田园</a>
                <a>日式</a>
                <a>简约</a>
                <a>中式</a>
            </div>
        </div>
    </div>
</div>
@@include('../common/page_btm_fixed.html')
</body>
</html>