<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快速报价</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <!--顶部banner-->
    <section class="page_banner_box">
        <img width="100%" height="100%" src="../../img/offer_banner_img.jpg">
    </section>
    <section class="page_form_box">
        <div class="title_box">
            <div class="line left"></div>
            <div class="title">您家的装修预算</div>
            <div class="line right"></div>
        </div>
        <div class="offer_top_img">
            <img width="100%" height="100%" src="../../img/offer_top_img.jpg">
        </div>
        <form class="form">
            <div class="select_box">
                <div class="form_select left">
                    <select>
                        <option>城市</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="form_select right">
                    <select>
                        <option>地区</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="clean"></div>
            </div>
            <div class="form_input">
                <input type="text" placeholder="请输入您的房屋面积">
            </div>
            <div class="form_input">
                <div class="form_select small">
                    <select>
                        <option>1室</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="form_select small">
                    <select>
                        <option>1厅</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="form_select small">
                    <select>
                        <option>1卫</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="form_select small">
                    <select class="four">
                        <option>1阳台</option>
                    </select>
                    <span class="down_icon"></span>
                </div>
                <div class="clean"></div>
            </div>
            <div class="form_input">
                <span class="decoration-type active"><i></i>新房装修</span>
                <span class="decoration-type"><i></i>旧房装修</span>
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入号码，报价结果将发送到您的手机">
            </div>
        </form>
        <button class="apply_loan_btn">立即计算</button>
        <div class="tel_box">
            <div class="left_tel">
                电话即时报价:<span>18603082459</span>
            </div>
            <a class="right_tel" href="tel:18603082459">立即拨打</a>
        </div>
    </section>
    <section class="page_btm_scroll_box">
        <h1 class="title">已有<span>17415</span>人获取到精准的装修报价</h1>
        <div class="scroll_text_box scroll_text">
            <ul class="scroll_ul">
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
                <li><span><i></i>胡**_137*****360  获取到精准装修报价</span></li>
            </ul>
        </div>
        <p class="text">瀚图装饰  环保家装倡导者</p>
        <p class="note_text">靠谱的家装报价</p>
    </section>
</section>
@@include('../common/page_footer.html')
</body>
</html>