<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>私人定制</title>
    @@include('../common/layout.html')
    <link rel="stylesheet" href="../../bin/swiper-4.1.0.min.css">
    <script src="../../bin/swiper-4.1.0.min.js"></script>
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <!--顶部banner-->
    <section class="page_banner_box">
        <img width="100%" height="100%" src="../../img/loan_banner_img.jpg">
    </section>
    <section class="page_form_box">
        <h1 class="title">私人装修定制服务</h1>
        <p class="note_text">已有 <span>387</span> 位用户报名</p>
        <form class="form">
            <div class="form_input">
                <input type="text" placeholder="输入您的姓名">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入您的手机号码">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入楼盘名称">
            </div>
            <div class="form_input">
                <input type="text" placeholder="输入建筑面积">
                <em>m2</em>
            </div>
        </form>
        <button class="apply_loan_btn">立即申请服务</button>
    </section>
    <section class="loan_list_container">
        <h2 class="title">为您提供免费设计服务</h2>
        <ul class="ul_box">
            <li class="li_box">
                <div class="img_box one"></div>
                <h2 class="name">优质设计师</h2>
                <p class="text">设计更合意，专业走心</p>
            </li>
            <li class="li_box">
                <div class="img_box two"></div>
                <h2 class="name">免费上门量房</h2>
                <p class="text">发布申请后5分钟内响应</p>
            </li>
            <li class="li_box">
                <div class="img_box three"></div>
                <h2 class="name">3套设计方案</h2>
                <p class="text">挑选更满意的设计</p>
            </li>
            <li class="li_box">
                <div class="img_box four"></div>
                <h2 class="name">设计修改到满意</h2>
                <p class="text">设计不满意可重复修改</p>
            </li>
        </ul>
    </section>
    <section class="loan_list_container two_container">
        <h2 class="title">优质设计师  为您量身定制</h2>
        <ul class="ul_box">
            <li class="li_box">
                <div class="img_box fix">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/p_img1.jpg">
                </div>
                <h2 class="name">设计师</h2>
                <p class="text text1">艺术的魅力需要天才，众多
                    的独创使人感到满足。</p>
            </li>
            <li class="li_box">
                <div class="img_box six">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/p_img2.jpg">
                </div>
                <h2 class="name">设计师</h2>
                <p class="text text1">创意是设计的源泉，生活是
                    设计的本质。</p>
            </li>
            <li class="li_box">
                <div class="img_box seven">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/p_img3.jpg">
                </div>
                <h2 class="name">设计师</h2>
                <p class="text text1">设计灵感源自生活，追求细
                    节，成就品质。</p>
            </li>
            <li class="li_box">
                <div class="img_box eight">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/p_img4.jpg">
                </div>
                <h2 class="name">设计师</h2>
                <p class="text text1">空间美感与人的需求达到和
                    谐，是设计的基础。</p>
            </li>
        </ul>
    </section>
    <section class="page_personal_box bg">
        <h1 class="title">定做您的私人空间</h1>
        <p class="note_text">协调空间氛围，多种风格量身打造</p>
        <div class="swiper-container carousel_box">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">新中式风格</p>
                </div>
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">新中式风格</p>
                </div>
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">新中式风格</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page_personal_box">
        <h1 class="title">让家变得更大</h1>
        <p class="note_text">合理规划布局，为您节省空间</p>
        <ul class="p_img_box">
            <li class="img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/p_small_img1.jpg">
                <p class="title">书房</p>
            </li>
            <li class="img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/p_small_img2.jpg">
                <p class="title">过道</p>
            </li>
            <li class="img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/p_small_img3.jpg">
                <p class="title">衣柜</p>
            </li>
            <li class="img_box">
                <img class="lazy" width="100%" height="100%" data-src="../../img/p_small_img4.jpg">
                <p class="title">阳台</p>
            </li>
        </ul>
    </section>
    <section class="page_personal_box bg">
        <h1 class="title">让家变得更舒适</h1>
        <p class="note_text">人性化功能设计，实用与美观搭配</p>
        <div class="swiper-container carousel_box">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">厨房多功能收纳</p>
                </div>
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">厨房多功能收纳</p>
                </div>
                <div class="swiper-slide">
                    <img width="100%" height="100%" src="../../img/p_carousel_img.jpg">
                    <p class="title">厨房多功能收纳</p>
                </div>
            </div>
        </div>
    </section>
</section>
@@include('../common/page_footer.html')
</body>
</html>