<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>装修攻略</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_header.html')
<section class="page_max_width">
    <header class="page_header_title">
        <h1 class="title">小户型房子与大型房子的风格差别</h1>
        <p class="time">更新时间：2017-09-14  18:00</p>
    </header>
    <section class="page_text_box">
        <p>我们已经知道在现代的房地产楼盘修建之前就会对原
            有的框架面积进行敲定，房子的室内面积大致可以分为几
            个区段，小户型房子面积为45-75平米，中户型为75-130
            平米，而大户型面积在150平米甚至以上。</p>
        <img src="../../img/raiders_details_img.jpg">
        <p>面积的大小在空间利用和分配方面有着非常直接的联
            系，例如小户型的房子建议选用简约式风格，提倡选择奢
            华类的装修方案。</p>
        <p>简约式装修因为本身的颜色设计主体偏向于浅色
            调，在白色的运用上颇具造诣，所以说它可以使室内空间
            的光线亮丽度提升，而且利用几何设计形的设计可以将线
            条具有强烈的视觉冲击感，白色作为百搭色中重要的成
            分，它的出现能够为室内造成空旷的感觉，以弥补室内面
            积小的缺陷和限制。</p>
        <p>大户型房子不提倡选择或许单一的设计方案，在室内
            面积宽阔的前提下使用过于单一的室内设计不仅起不到好
            的效果，还会显得特别单调枯燥，尤其是使用白色会使原
            来就宽广的室内空间变得很飘，失去原有的设计主题感
            觉。</p>
        <p>简约式风格在设计的时候面对户型的不同也会出现不
            同的变化，主要在于家具功能性的设计以及黑灰色调的使
            用量，为了防止室内空间或许飘，会选择黑子的格子地砖
            或者木质地板作为气氛压制，在客厅地面铺设深灰色的羊
            绒地毯等材料来缓解室内气氛。</p>
    </section>
    <section class="page_like_box">
        <h2 class="title">猜你喜欢</h2>
        <div class="a_box">
            <a class="a_text">如何正确选择超滤净水器和水龙头净水器，它们有说明区别</a>
            <a class="a_text">2017年装修价格一览表，装修报价明细</a>
            <a class="a_text">木地板铺料暗藏的“危机”有哪些？</a>
            <a class="a_text">KTV装修设计之软装搭配的三要点</a>
            <a class="a_text">善用隔间拉门软帘，营造单间大器开阔感</a>
        </div>
    </section>
</section>
@@include('../common/page_footer.html')
</body>
</html>