<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热装楼盘</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active"})
<!--顶部banner-->
<div class="page_banner_box">
    <img width="100%" height="100%" src="../../img/hot_outfit_banner_img.jpg">
    <div class="input_btm_box">
        <div class="input_box inline">
            <input type="text" placeholder="请输入您的姓名">
        </div>
        <div class="input_box inline">
            <input type="text" placeholder="请输入您的手机号码">
        </div>
        <div class="input_box inline">
            <input type="text" placeholder="您家楼盘名称">
        </div>
        <button class="btn inline">立即预约1对1楼盘</button>
    </div>
</div>
<!--main-->
<div class="page_main_content_box">
    <div class="header_nav">
        当前位置：<a>首页</a>>热装楼盘
    </div>
    <div class="main_content_box">
        <!--左边主体内容-->
        <div class="left_list_content">
            <div class="nav_list_box">
                <div class="title">楼盘位置</div>
                <ul class="nav_ul">
                    <li class="nav_li active">全部</li>
                    <li class="nav_li">城南区</li>
                    <li class="nav_li">海南区</li>
                    <li class="nav_li">顺德区</li>
                    <li class="nav_li">山水区</li>
                    <li class="nav_li">高明区</li>
                </ul>
            </div>

        </div>
        <!--右边侧边内容-->
        <div class="right_list_content">

        </div>
    </div>
</div>
</body>
</html>