<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二手房装修</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active","style":"background:#000"})
<div class="page_banner_box">
    <img class="lazy" width="100%" height="100%" data-src="../../img/second_banner_img.jpg">
</div>
<!--顶部输入框-->
<div class="page_form_box">
    <div class="form_content">
        <h1 class="title">点击输入您的信息,享受免费设计与报价</h1>
        <form class="form">
            <div class="form_input">
                <input type="text" placeholder="姓名">
            </div>
            <div class="form_input">
                <input type="text" placeholder="电话">
            </div>
            <div class="form_input">
                <input type="text" placeholder="建筑面积">
            </div>
            <div class="form_input">
                <div class="select_box">
                    <p class="val">全部翻新</p>
                    <input type="hidden">
                    <i class="down_bg"></i>
                    <ul class="select_menu_box">
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                    </ul>
                </div>
            </div>
            <button class="offer_btn">免费设计与报价</button>
        </form>
    </div>
</div>
<!--八大问题-->
<div class="page_problem_box">
    <div class="problem_content">
        <h1 class="title">瀚图装饰帮您解决旧房八大问题</h1>
        <p class="note_title">看得到的表面,看不到的细节</p>
        <ul class="problem_ul">
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img1.png">
                </div>
                <div class="name_text">风格老土</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img2.png">
                </div>
                <div class="name_text">发霉发黄</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img3.png">
                </div>
                <div class="name_text">格局不方正</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img4.png">
                </div>
                <div class="name_text">空间利用率低</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img5.png">
                </div>
                <div class="name_text">光线阴暗</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img6.png">
                </div>
                <div class="name_text">墙体开裂</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img7.png">
                </div>
                <div class="name_text">地面空鼓</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img8.png">
                </div>
                <div class="name_text">漏水渗水</div>
            </li>
        </ul>
    </div>
</div>

<!-- 旧房不满意，重新设计 -->
 <div class="page_redesign_box">
     <div class="content_box">
         <h3 class="title">旧房不满意，重新设计</h3>
         <ul class="redesign_ul">
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img1.jpg" width="100%" height="100%">
                <div class="circle">
                    提高收纳<br>性能
                </div>
            </li>
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img2.jpg" width="100%" height="100%">
                <div class="circle">
                    增加采光<br>效果
                </div>
            </li> 
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img3.jpg" width="100%" height="100%">
                <div class="circle">
                    水电重新<br>安装
                </div>
            </li> 
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img4.jpg" width="100%" height="100%">
                <div class="circle">
                    重新规划<br>格局
                </div>
            </li> 
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img5.jpg" width="100%" height="100%">
                <div class="circle">
                    重新防护<br>排水漏水
                </div>
            </li> 
            <li class="redesign_list">
                <img class="lazy" data-src="../../img/second_redesign_list_img6.jpg" width="100%" height="100%">
                <div class="circle">
                    墙面重新<br>刮塑
                </div>
            </li> 
         </ul>
         <div class="mid_form">
             <div class="mid_input"><input type="text" name="" placeholder="姓名"></div>
             <div class="mid_input"><input type="text" name="" placeholder="电话"></div>
             <div class="mid_input"><input type="text" name="" placeholder="建筑面积"></div>
             <div class="mid_input"><input type="text" name="" placeholder="楼盘名称"></div>
             <button class="mid_btn">预约旧房免费设计</button>
         </div>
         <div class="change_box">
             <div class="change_img"><img class="lazy" data-src="../../img/second_redesign_change_img.jpg" width="100%" height="100%"></div>
             <div class="change_text">
                <div class="text">
                    <h5 class="text_title">【原始户型分析】</h5>
                    <p class="text_p">1.衣帽间面积狭小，不能满足衣服收纳需求<br>2.主卫面积小，居住品质降低。<br>3.门厅缺少收纳空间<br>4.房屋动线不流畅，影响生活质量</p>
                </div>
                <div class="text">
                    <h5 class="text_title">【优化改造后】<span>使用空间增大</span></h5>
                    <p class="text_p">1.拆除轻体墙，扩大衣帽间面积，提升生活品质<br>2.合理规划，为您的家疏通空间布局<br>3.合理设计玄关收纳，整洁品质从家门口开始<br>4.科学规划，功能分区，引导高品质生活方式</p>
                </div>
             </div>
         </div>
         <div class="picture">
             <div class="carousel">
                <div class="hidden">
                    <ul class="carousel_ul" data-autoplay="true">
                        <li><img src="../../img/second_picture_img1.jpg" width="100%" height="100%"></li>
                        <li><img class="lazy" data-src="../../img/second_picture_img1.jpg" width="100%" height="100%"></li>
                    </ul>
                </div>
                 <button class="prev_btn pic_btn"></button>
                 <button class="next_btn pic_btn"></button>
             </div>
         </div>
     </div>
 </div>

<!-- 我家旧房也需要装修 -->
<div class="page_my_box">
    <div class="my_head">
        <div class="my_title">
            <h3 class="my_h3">我家旧房也需要装修</h3>
            <p class="my_note">My old house also needs to be decorated</p>
        </div>
        <div class="icon"></div>
    </div>
    <div class="my_content">
        <div class="my_form">
            <label class="my_input"><input type="text" name="" placeholder="您的姓名"></label>
            <label class="my_input"><input type="text" name="" placeholder="您的电话"></label>
            <label class="my_input"><input type="text" name="" placeholder="住宅面积"></label>
            <label class="my_input"><input type="text" name="" placeholder="楼盘名称"></label>
            <label class="my_input">
                <div class="select_box">
                    <p class="val">整体翻新</p>
                    <input type="hidden">
                    <i class="down_bg"></i>
                    <ul class="select_menu_box">
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                    </ul>
                </div>
            </label>
            <button class="my_btn">立即申请旧房设计</button>
        </div>
    </div>
</div>

</body>
</html>