<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二手房装修</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active","style":"background:#000"})
<div class="page_banner_box">
    <img class="lazy" width="100%" height="100%" data-src="../../img/second_banner_img.jpg">
</div>
<!--顶部输入框-->
<div class="page_form_box">
    <div class="form_content">
        <h1 class="title">点击输入您的信息,享受免费设计与报价</h1>
        <form class="form">
            <div class="form_input">
                <input type="text" placeholder="姓名">
            </div>
            <div class="form_input">
                <input type="text" placeholder="电话">
            </div>
            <div class="form_input">
                <input type="text" placeholder="建筑面积">
            </div>
            <div class="form_input">
                <div class="select_box">
                    <p class="val">全部翻新</p>
                    <i class="down_bg"></i>
                    <ul class="select_menu_box">
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                        <li>全部翻新</li>
                    </ul>
                </div>
            </div>
            <button class="offer_btn">免费设计与报价</button>
        </form>
    </div>
</div>
<!--八大问题-->
<div class="page_problem_box">
    <div class="problem_content">
        <h1 class="title">瀚图装饰帮您解决旧房八大问题</h1>
        <p class="note_title">看得到的表面,看不到的细节</p>
        <ul class="problem_ul">
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img1.png">
                </div>
                <div class="name_text">风格老土</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img2.png">
                </div>
                <div class="name_text">发霉发黄</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img3.png">
                </div>
                <div class="name_text">格局不方正</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img4.png">
                </div>
                <div class="name_text">空间利用率低</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img5.png">
                </div>
                <div class="name_text">光线阴暗</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img6.png">
                </div>
                <div class="name_text">墙体开裂</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img7.png">
                </div>
                <div class="name_text">地面空鼓</div>
            </li>
            <li class="problem_li">
                <div class="img_box">
                    <img class="lazy" width="100%" height="100%" data-src="../../img/second_problem_img8.png">
                </div>
                <div class="name_text">漏水渗水</div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>