<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title666666</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active"})
<!--顶部轮播-->
<div class="page_top_carousel_box carousel" data-autoplay ="true" data-num="1">
    <ul class="carousel_ul">
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
    </ul>
    <!--指示器-->
    <div class="indicator">

    </div>
</div>
<!--在线预约-->
<div class="page_appointment_box">
	<div class="content_box">
		<h4 class="appointment_head">在线预约</h4>
		<ul class="appointment_ul clear"> 
			<li class="list">
				<div class="appointment_tips">您的姓名</div>
				<div class="appointment_input">
					<input type="text" name="" id="" value="" placeholder="请填写您的姓名" />
				</div>
			</li>
			<li class="list">
				<div class="appointment_tips">您的手机号码</div>
				<div class="appointment_input">
					<input type="text" name="" id="" value="" placeholder="请填写您的手机号码" />
				</div>
			</li>
			<li class="list">
				<div class="appointment_tips">您的需求</div>
				<div class="appointment_input">
					<select>
						<option value="">和设计师沟通</option>
					</select>
				</div>
			</li>
		</ul>
		<button class="appointment_submit">提交</button>
	</div>
</div>
<!--别墅大宅案例-->
<div class="page_case_box">
	<div class="content_box">
		<div class="villa_head">
			<h3 class="villa_title">别墅大宅案例</h3>
			<p class="villa_note">Villa house case</p>
		</div>
		<div class="case_box clearfix">
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case1.jpg" src="../../img/special_page/villa_case1.jpg" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case2.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case3.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case4.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case5.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case6.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case7.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case8.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case9.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case10.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case11.jpg" src="" width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case12.jpg" src="" width="100%" height="100%"/></a>
		</div>
	</div>
</div>
<!--别墅在建工地-->
<div class="page_site_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅在建工地","note":"Villa on construction site"})
		<table border="" cellspacing="" cellpadding="">
			<tr>
				<th>楼盘名称</th>
				<th>地区</th>
				<th>别墅类型</th>
				<th>面积</th>
				<th>工地参观</th>
			</tr>
			<tr>
				<td>富春山居22幢</td>
				<td>西湖区</td>
				<td>别墅</td>
				<td>103m2</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>



</body>
</html>