<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title111</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active"});
<!--顶部轮播-->
<div class="page_top_carousel_box carousel" data-autoplay ="true" data-num="1">
    <ul class="carousel_ul">
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
    </ul>
    <!--指示器-->
    <div class="indicator">

    </div>
</div>


<div class="page_box">
    <div class="page_content">
        <img>
    </div>
    <div class="btn_box">
        <button class="red"></button>
        <button class="yellow"></button>
    </div>
</div>
</body>
</html>