<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
@@include('../common/page_nav.html',{"index":"active","style":"background:#000"})
<!--顶部轮播-->
<div class="page_top_carousel_box carousel" data-autoplay ="true" data-num="1">
    <ul class="carousel_ul">
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
        <li class="carousel_li">
            <a>
                <img width="100%" height="100%" src="../../img/index_carousel_img.jpg">
            </a>
        </li>
    </ul>
    <!--指示器-->
    <div class="indicator">

    </div>
</div>
<!--在线预约-->
<div class="page_appointment_box">
	<div class="content_box">
		<div class="appointment_head">在线预约</div>
		<ul class="appointment_ul clear"> 
			<li class="list">
				<div class="appointment_tips">您的姓名</div>
				<div class="appointment_input">
					<input type="text" name="" id="" value="" placeholder="请填写您的姓名" />
				</div>
			</li>
			<li class="list">
				<div class="appointment_tips">您的手机号码</div>
				<div class="appointment_input">
					<input type="text" name="" id="" value="" placeholder="请填写您的手机号码" />
				</div>
			</li>
			<li class="list">
				<div class="appointment_tips">您的需求</div>
				<div class="select_box appointment_input">
					<p class="val">和设计师沟通</p>
					<input type="hidden">
					<i class="down_bg"></i>
					<ul class="select_menu_box">
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
						<li>浙江省</li>
					</ul>
				</div>
			</li>
		</ul>
		<button class="appointment_submit">提交</button>
	</div>
</div>
<!--别墅大宅案例-->
<div class="page_case_box">
	<div class="content_box">
		<div class="villa_head">
			<h3 class="villa_title">别墅大宅案例</h3>
			<p class="villa_note">Villa house case</p>
		</div>
		<div class="case_box clearfix">
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case1.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case2.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case3.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case4.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case5.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case6.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case7.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case8.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case9.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case10.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case11.jpg"  width="100%" height="100%"/></a>
			<a class="list" href=""><img class="lazy" data-src="../../img/special_page/villa_case12.jpg"  width="100%" height="100%"/></a>
		</div>
	</div>
</div>
<!--别墅在建工地-->
<div class="page_site_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅在建工地","note":"Villa on construction site"})
		<table class="site_table">
			<tr>
				<th class="site_w1">楼盘名称</th>
				<th>地区</th>
				<th>别墅类型</th>
				<th>面积</th>
				<th class="site_w2">工地参观</th>
			</tr>
			<tr>
				<td class="site_w1">富春山居22幢</td>
				<td>西湖区</td>
				<td>别墅</td>
				<td>103m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">金城花园19号</td>
				<td>西湖区</td>
				<td>复式</td>
				<td>60m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">滨江滨安路11803华业大厦</td>
				<td>西湖区</td>
				<td>别墅</td>
				<td>105m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">万通中心A-801</td>
				<td>西湖区</td>
				<td>别墅</td>
				<td>103m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">南山路146号师干二期</td>
				<td>上城区</td>
				<td>别墅</td>
				<td>63m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">南山路146号师干二期</td>
				<td>上城区</td>
				<td>别墅</td>
				<td>63m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">南山路146号师干二期</td>
				<td>上城区</td>
				<td>别墅</td>
				<td>63m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
			<tr>
				<td class="site_w1">南山路146号师干二期</td>
				<td>上城区</td>
				<td>别墅</td>
				<td>63m²</td>
				<td class="site_w2"><button class="site_visit">预约参观</button></td>
			</tr>
		</table>
	</div>
</div>
<!--别墅豪造设计团队-->
<div class="page_team_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅豪造设计团队","note":"Villa design team"})
		<div class="tab_box">
			<div class="team_tab_box clearfix">
				<div class="tab_btn active">总监设计师</div>
				<div class="tab_btn">首席设计师</div>
				<div class="tab_btn">主任设计师</div>
			</div>
			<div class="team_content_box">
				<div class="tab_content">
					<ul class="flip_items">
						<li class="flip_item flip_current">
							<img width="100%" height="100%" src="../../img/file_img1.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you1">
							<img width="100%" height="100%" src="../../img/file_img2.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you2">
							<img width="100%" height="100%" src="../../img/file_img3.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you3">
							<img width="100%" height="100%" src="../../img/file_img4.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo3">
							<img width="100%" height="100%" src="../../img/file_img5.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo2">
							<img width="100%" height="100%" src="../../img/file_img6.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo1">
							<img width="100%" height="100%" src="../../img/file_img7.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab_content">
					<ul class="flip_items">
						<li class="flip_item flip_current">
							<img width="100%" height="100%" src="../../img/file_img7.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you1">
							<img width="100%" height="100%" src="../../img/file_img6.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you2">
							<img width="100%" height="100%" src="../../img/file_img5.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you3">
							<img width="100%" height="100%" src="../../img/file_img4.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo3">
							<img width="100%" height="100%" src="../../img/file_img3.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo2">
							<img width="100%" height="100%" src="../../img/file_img2.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo1">
							<img width="100%" height="100%" src="../../img/file_img1.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab_content">
					<ul class="flip_items">
						<li class="flip_item flip_current">
							<img width="100%" height="100%" src="../../img/file_img2.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you1">
							<img width="100%" height="100%" src="../../img/file_img1.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you2">
							<img width="100%" height="100%" src="../../img/file_img6.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_you3">
							<img width="100%" height="100%" src="../../img/file_img3.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo3">
							<img width="100%" height="100%" src="../../img/file_img4.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo2">
							<img width="100%" height="100%" src="../../img/file_img7.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
						<li class="flip_item flip_zuo1">
							<img width="100%" height="100%" src="../../img/file_img5.jpg">
							<div class="flip_text_box">
								<div class="pos">
									<p class="name">和凯</p>
									<p class="note_text">设计总监从业15年</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--别墅帝造设计团队-->
<div class="page_team_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅帝造设计团队","note":"Villa design team"})
		<p class="sidenote">”<span>全案装修团队，专人专岗，</span>打造完美空间效果”</p>
		<div class="tab_box">
			<div class="team_tab_box team2_tab_box clearfix">
				<div class="tab_btn active">设计团队</div>
				<div class="tab_btn">监理团队</div>
			</div>
			<div class="team_content_box">
				<div class="tab_content">
					<div class="carousel team2_out">
						<div class="team2_box">
						<ul class="carousel_ul team2_ul clearfix" data-autoplay="false" data-num="5">
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic1.jpg" width="100%" height="100%"/>
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic2.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic3.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic4.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic5.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic4.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
							<li class="list">
								<div class="team2_img">
									<img class="lazy" data-src="../../img/special_page/team2a_pic3.jpg" width="100%" height="100%" />
								</div>
								<div class="team2_text">
									<div class="team2_name">刘海</div>
									<p class="team2_job">项目经理 从业经验5年</p>
								</div>
								<div class="team2_hover">
									<a class="team2_btn" href="">查看详情</a>
									<a class="team2_btn" href="">免费预约</a>
								</div>
							</li>
						</ul>
						</div>
						<button class="arrow_btn prev_btn"></button>
						<button class="arrow_btn next_btn"></button>
					</div>
				</div>
				<div class="tab_content">
					<div class="carousel team2_out">
						<div class="team2_box">
							<ul class="carousel_ul team2_ul clearfix" data-autoplay="false" data-num="5">
								<li class="list">
									<div class="team2_img">
										<img class="lazy" data-src="../../img/special_page/team2a_pic1.jpg" width="100%" height="100%" />
									</div>
									<div class="team2_text">
										<div class="team2_name">刘海</div>
										<p class="team2_job">项目经理 从业经验5年</p>
									</div>
									<div class="team2_hover">
										<a class="team2_btn" href="">查看详情</a>
										<a class="team2_btn" href="">免费预约</a>
									</div>
								</li>
								<li class="list">
									<div class="team2_img">
										<img class="lazy" data-src="../../img/special_page/team2a_pic2.jpg" width="100%" height="100%" />
									</div>
									<div class="team2_text">
										<div class="team2_name">刘海</div>
										<p class="team2_job">项目经理 从业经验5年</p>
									</div>
									<div class="team2_hover">
										<a class="team2_btn" href="">查看详情</a>
										<a class="team2_btn" href="">免费预约</a>
									</div>
								</li>
								<li class="list">
									<div class="team2_img">
										<img class="lazy" data-src="../../img/special_page/team2a_pic3.jpg" width="100%" height="100%" />
									</div>
									<div class="team2_text">
										<div class="team2_name">刘海</div>
										<p class="team2_job">项目经理 从业经验5年</p>
									</div>
									<div class="team2_hover">
										<a class="team2_btn" href="">查看详情</a>
										<a class="team2_btn" href="">免费预约</a>
									</div>
								</li>
								<li class="list">
									<div class="team2_img">
										<img class="lazy" data-src="../../img/special_page/team2a_pic4.jpg" width="100%" height="100%" />
									</div>
									<div class="team2_text">
										<div class="team2_name">刘海</div>
										<p class="team2_job">项目经理 从业经验5年</p>
									</div>
									<div class="team2_hover">
										<a class="team2_btn" href="">查看详情</a>
										<a class="team2_btn" href="">免费预约</a>
									</div>
								</li>
							</ul>
						</div>
						<button class="arrow_btn prev_btn"></button>
						<button class="arrow_btn next_btn"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--别墅热装楼盘-->
<div class="page_hot_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅热装楼盘","note":"Villa hot outfit"})
		<p class="sidenote">”<span>1000</span>套在装楼盘  体验更真实效果  设计源于生活  生活因设计而改变”</p>
		<ul class="hot_ul clearfix">
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%"/>
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
			<li class="list">
				<a href="" class="">
					<img class="lazy" data-src="../../img/special_page/hot_villa1.jpg" width="100%" height="100%" />
					<div class="hot_tags">
						<p>服务客户</p>
						<span>57</span>
					</div>
					<p class="hot_describe">江南绿洲小区</p>
				</a>
			</li>
		</ul>
	</div>
</div>

<!--无系统，不别墅-->
<div class="page_system_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"无系统，不别墅","note":"No system, no Villa"})
		<p class="system_note">塑造“舒适、安静、绿色”新生活，别墅不仅仅是一个空间存在形态，他是家人生活的承载，他是一个有机的生命体。<br>在翰图看来，每一套别墅的竣工，才是一个别墅生命体正真的开始......</p>
		<div class="system_outer">
			<div class="system_box">
				<img class="lazy" data-src="../../img/special_page/system_bg1.jpg" width="100%" height="100%"/>
				<div class="system_text st_r">
					<h6>别墅&nbsp;&nbsp;中央空调系统</h6>
					<span>温度调节 空气换新</span> 
				</div>
			</div>
			<div class="system_box">
				<img class="lazy" data-src="../../img/special_page/system_bg2.jpg" width="100%" height="100%" />
				<div class="system_text st_l">
					<h6>别墅&nbsp;&nbsp;智能家居系统</h6>
					<span>科技改变生活方式</span>
				</div>
			</div>
			<div class="system_box">
				<img class="lazy" data-src="../../img/special_page/system_bg3.jpg" width="100%" height="100%" />
				<div class="system_text st_r">
					<h6>别墅&nbsp;&nbsp;中央水处理系统</h6>
					<span>纯净水源 滋养生命</span>
				</div>
			</div>
			<div class="system_box">
				<img class="lazy" data-src="../../img/special_page/system_bg4.jpg" width="100%" height="100%" />
				<div class="system_text st_l">
					<h6>别墅&nbsp;&nbsp;个性化品质生活系统</h6>
					<span>桑拿 高温瑜伽 酒窖</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--别墅施工特点-->
<div class="page_construction_box">
	<div class="content_box">
		@@include('./common/villa_content_head.html',{"title":"别墅施工特点","note":"Villa construction features"})
		<ul class="construction_ul clearfix">
			<li class="list">
				<div class="constr_icon c_zx"></div>
				<p class="constr_num">0</p>
				<p class="constr_zx">增项</p>
				<p class="constr_text">核算价高于预算价超过5%<br>超出部分我买单 </p>
			</li>
			<li class="list">
				<div class="constr_icon c_yq"></div>
				<p class="constr_num">0</p>
				<p class="constr_zx">延期</p>
				<p class="constr_text">您的工期<br>我们比您更珍惜 </p>
			</li>
			<li class="list">
				<div class="constr_icon c_fx"></div>
				<p class="constr_num">0</p>
				<p class="constr_zx">返修</p>
				<p class="constr_text">隐蔽工程5年质保<br>整装2年质保 </p>
			</li>
			<li class="list">
				<div class="constr_icon c_jh"></div>
				<p class="constr_num">0</p>
				<p class="constr_zx">假货</p>
				<p class="constr_text">偷工减料<br>退一赔一 </p>
			</li>
			<li class="list">
				<div class="constr_icon c_hk"></div>
				<p class="constr_num">0</p>
				<p class="constr_zx">回扣</p>
				<p class="constr_text">杜绝一切回扣<br>信任让彼此更珍惜 </p>
			</li>
		</ul>
	</div>
</div>
<div class="page_select_box">
	<div class="content_box">
		<h3 class="select_title">别墅装修，为什么选择瀚图？</h3>
		<div class="select_line"></div>
		<ul class="select_ul clearfix">
			<li class="list">
				<div class="select_icon s_zzbs"></div>
				<p class="select_text1">专注别墅装修11年</p>
				<p class="select_text2">中国建筑装饰协会认证<br>“中国别墅装饰领军企业”</p>
			</li>
			<li class="list">
				<div class="select_icon s_clqa"></div>
				<p class="select_text1">创立全案体系</p>
				<p class="select_text2">设计与实施无缝衔接<br>确保效果图的实景还原度高达95%以上</p>
			</li>
			<li class="list">
				<div class="select_icon s_zscp"></div>
				<p class="select_text1">装饰产品全球直采</p>
				<p class="select_text2">国外品牌全球直采<br>同等价位配置高端</p>
			</li>
			<li class="list">
				<div class="select_icon s_xffw"></div>
				<p class="select_text1">细分服务岗位</p>
				<p class="select_text2">别墅项目的复杂性<br>决定了搭建与之匹配的专业技术和服务</p>
			</li>
		</ul>
	</div>
</div>
<div class="villa_footer">
	<div class="content_box clearfix">
		<p class="foot_text">免费定制墅装方案</p>
		<input type="text" class="foot_input" name="" id="" value="" placeholder="请输入您的称呼"/>
		<input type="text" class="foot_input" name="" id="" value="" placeholder="请输入您的电话"/>
		<input type="text" class="foot_input" name="" id="" value="" placeholder="请输入您的房屋面积"/>
		<button class="foot_submit">立即申请</button>
	</div>
</div>



</body>
</html>